// Colors
//
// Colors:
// $dark-grey: #343434
// $green: #009c5c
// $darker-green: #226842
// $darker-green-2: #016d3a
// $yellow: #f9fda9
// $grey: #666
// $lottery-grey: #595959
// $lottery-green: #009d5b
// $medium-green: #02824b
// $dark-green: #02663d
// $secondary-green: #cdecc1
// $light-gray: #f0f0f0
// $medium-gray: #e6e7e7
// $dark-gray: #4d4d4d
// $red: #ed1c24
//
// Styleguide: Colors

$dark-grey: #343434;
$green: #009c5c;
$darker-green: #226842;
$darker-green-2: #016d3a;
$yellow: #f9fda9;
$grey: #666;
$lottery-grey: #595959;

// 2018 Colors per color guide from Matt T.
$lottery-green: #009d5b;
$medium-green: #02824b;
$dark-green: #02663d;
$secondary-green: #cdecc1;
$light-gray: #f0f0f0;
$medium-gray: #e6e7e7;
$dark-gray: #4d4d4d;
$red: #ed1c24;