// Colors
//
// Colors:
// $dark-grey: #343434
// $green: #009c5c
// $darker-green: #226842
// $darker-green-2: #016d3a
// $yellow: #f9fda9
// $grey: #666
// $lottery-grey: #595959
// $lottery-green: #009d5b
// $medium-green: #02824b
// $dark-green: #02663d
// $secondary-green: #cdecc1
// $light-gray: #f0f0f0
// $medium-gray: #e6e7e7
// $dark-gray: #4d4d4d
// $red: #ed1c24
//
// Styleguide: Colors

$dark-grey: #343434;
$green: #009c5c;
$darker-green: #226842;
$darker-green-2: #016d3a;
$yellow: #f9fda9;
$grey: #666;
$lottery-grey: #595959;

// 2018 Colors per color guide from Matt T.
$lottery-green: #009d5b;
$medium-green: #02824b;
$dark-green: #02663d;
$secondary-green: #cdecc1;
$light-gray: #f0f0f0;
$medium-gray: #e6e7e7;
$dark-gray: #4d4d4d;
$red: #ed1c24;

//colors added from coupon page
$blue: #253089;
$ltgreen: #92b556;
$coupon-green-dark: #068b54;
$darkgreen: #003811;
$black: #333;

// Background colors
$nav-more-background: $medium-green;
$nav-primary-background: $green;
$nav-mobile-background: $green;
$nav-mobile-active-background: $medium-green;
$subnav-mobile-background: $medium-green;
$subnav-mobile-2-background: $darker-green-2;
$btn-background-color: $green;
$btn-background-color-hover: $medium-gray;
$hover-overlay-background-color: $yellow;
$tooltip-color: $green;
$home-tab-background-color: $secondary-green;

// Text colors
$nav-primary-links: #fff;
$nav-mobile-links: #fff;
$link-text-color: $green;
$btn-text-color: #fff;
$heading-color: $green;
$subheading-color: $dark-gray;
$message-text-color: $green;
$home-tab-text-color: $medium-green;
$home-tab-text-color-hover: $dark-gray;

// Border colors
$nav-more-border: $darker-green;
$subnav-mobile-border: $darker-green-2;
$subnav-mobile-2-border: $medium-green;
$nav-border-color: $green;
$message-border-color: $green;
$home-tab-border-color: $home-tab-text-color;


// Colors not included but were in the original CSS files and were causing SASS errors
$error-text-color: $red;
$error-border-color: $red;
$body-text-color: $dark-gray;
$results-field-border-color: $medium-gray;
$table-heading-background-color: $green;