// Colors
//
// Colors:
// $dark-grey: #414141
// $light-green: #ccdfcb
// $peach: #ff6a5c
// $teal: #056570
//
// Styleguide: Colors

$dark-grey: #414141;
$light-green: #ccdfcb;
$peach: #ff6a5c;
$teal: #056570