* { 
  box-sizing: border-box; 
}

.no-title { // lets the user remove headers from the children of a div example on onsert to remove empty h3 tag if user doesn't enter the title
  h1, h2, h3, h4, h5, h6 {
      display: none;
  }
}

// global flex classes 

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.row {
  flex-flow: row wrap;
}

.row-nowrap {
  flex-flow: row nowrap;
}

.between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.around {
  justify-content: space-around;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
}

// Used for show / hide various children of parents based upon parent classes
// Examples may be found on activeGame_li

// Second Chance Icon
.second-chance{ 
  display: none;    
  align-items: center;
  text-align: left;
}

.second-chance-on {
  .second-chance {
      display: inline-block;
  }
}


// Closing Soon Icon
.closing-soon {
  display: none;
}

.csi {
  .closing-soon {
      display: inline-block;

      @media (min-width: 1068px) {
          &:hover {
              .hover-tooltip {
                  display: inline-block;
              }
          }
      }
  }
}

// Used to display 'new' in a green box (looks similar to a ribbon)
// Example on activeGame_li 

.new-tag {
  display: none;
  width: 51px;
  background: $dark-green;
  padding: 5px 0;
  font-style: italic;
  text-align: center;
  color: #fff;
  line-height: 1;

  @media (min-width: 769px) {
      position: relative;
      left: -15px;

      &::before {
          content: '';
          border-style: solid;
          border-width: 0 0 10px 15px;
          border-color: transparent transparent #003811 transparent;
          position: absolute;
          top: -10px;
          left: 0;
      }
  }
}

.new {
  .new-tag {
      display: inline-block;
      font-size: 14px;
  }
}

// Used for tool tip popup that may describe object below it. Was built with only one use case in mind may need extended
// Example may be found on activeGame_li by hovering over the icons

.hover-tooltip {
  display: none;
  position: absolute;
  background: #f7f7f7;
  box-shadow: 0 6px 12px 3px rgba(0, 0, 0, 0.4);
  transform: translateX(-50%);
  left: 16px;
  top: -48px;
  color: $dark-gray;
  text-align: center;
  font-size: 14px; // 
  line-height: 1.2;

  span {
      display: block;
      white-space: nowrap;
      padding: 10px 25px;
      font-weight: 700;

      > span { // Incase special styles need applied to something within the span
          padding: 0;
          display: inline;
      }
  }

  &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 8px 0 8px;
      border-color: #f7f7f7 transparent transparent transparent;
      position: absolute;
      transform: translateX(-50%);
      top: 36px;
      left: 50%;
  }
}

.red {
  &.text {
      color: $red;
  }
}
