@media print {
  body {
    color: #000;
    background: #fff;
    min-width: 600px;
  }
  #wrapper {
    width: 100%;
    margin: 0;
  }
  .list-info {
    display: none;
  }
  .container {
    width: 100%;
  }
  .tab-section .info-area,
  .content-area h2.title,
  .bottom-container .about-lottery h2 {
    color: #000;
  }
  .print-logo {
    display: block;
    text-align: center;
  }
  .lottery-carousel .date-bar,
  .tabs-container {
    border: 0;
  }
  .games-info .table-1 {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6 {
      width: auto;
    }
  }
  .container .main-column {
    .text-container {
      .accordion {
        width: 100%;
        margin: 0;
        padding: 0;
      }
      width: 100%;
      margin: 0;
      padding: 0;
    }
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .info-container .list-info .list .active a {
    font-weight: bold;
  }
  .container .main-column .text-container .accordion .slider {
    display: block;
  }
  .tabs-container {
    margin: 0;
  }
  .tab-section .tab-list,
  .bottom-container .about-lottery,
  .main-content {
    box-shadow: none;
  }
  .games-info {
    .bottom-area .vip-description,
    .sort-row,
    .tabset {
      display: none;
    }
  }
  .info-container {
    .retailer-search-form .field-col,
    .tabset {
      display: none;
    }
  }
  .bottom-area .pagination {
    display: none;
  }
  .container {
    .aside {
      display: none;
    }
  }
  .tab-section .tab-set,
  .all-games-holder,
  .lottery-carousel .date-bar .link,
  .tabs-container .tabset,
  .lottery-carousel .note {
    display: none;
  }
  .promo-area .slides {
    .note,
    .btn-prev,
    .btn-next {
      display: none;
    }
  }
  .bottom-container .bottom-cols,
  .breadcrumbs,
  .main-content .add-menu,
  #nav,
  .top-area,
  .logo,
  .map-container {
    display: none;
  }
  .main-content .content-area,
  .tabs-container .tab-list {
    padding: 0;
  }
  .lottery-carousel {
    padding: 0;
    .frame>ul {
      margin: 0;
      width: auto;
      >li {
        border: 1px solid #000;
        margin-bottom: 35px;
      }
    }
  }
  .promo-area,
  .map-container,
  #vip-widgets {
    display: none;
  }
}
