body.textonly {
  background: none;
  img {
    display: none;
  }
  * {
    color: #000;
    background: none;
    box-shadow: none;
    text-shadow: none;
    border-radius: none;
    text-indent: 0;
  }
  .next,
  .prev {
    width: auto;
  }
  #nav .search-form input[type="submit"] {
    width: auto;
  }
  .map-container,
  .promo-area {
    display: none;
  }
  .print-logo {
    display: block;
    text-align: center;
  }
  .logo-area {
    height: auto;
  }
  .logo {
    height: auto;
    width: auto;
    text-indent: 0;
    text-align: center;
  }
  .container {
    background-color: #fff;
  }
  .login-area {
    background-color: #fff;
    form {
      background-color: #fff;
    }
  }
  #map_canvas {
    display: none;
  }
  #listview {
    display: block;
  }
  .promo-slides {
    display: none;
  }

  #nav li a {
    text-shadow: none;
    color: #000;
    background: 0;
  }
  #nav .search-form input[type="text"] {
    border-right: 1px solid silver;
  }
}
