.bottom-container {
  background: #f3f5f5;
  overflow: hidden;
}

.bottom-cols {
  padding: 25px 10px;
  background-color: #f3f5f5;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @media (min-width: 768px) {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
    background: #e6e7e7;
    padding-top: 30px;
    justify-content: space-around;
  }

  @media (min-width: 1020px) {
    padding: 20px 0;
  }

  div {
    min-width: 150px;
  }

  h3 {
    font-size: 15px;
    color: #343434;
    margin: 0 0 18px 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 0 10px;
  }
}

.about-lottery {
  font: 12px/1.64 Helvetica, sans-serif;
  color: #595959;
  padding: 21px 10px 0;
  word-spacing: -1px;

  @media (max-width: 767px) {
    background-color: #F3F5F7;
  }

  @media (min-width: 768px) {
    padding: 21px 35px 0 50px;
    font-size: 14px;
  }

  h2 {
    margin: 0 0 10px;
    color: #009c5c;
    font: bold 14px/1.1 Helvetica, Arial, sans-serif;
  }

  p {
    margin: 0 0 23px;
    &:last-child {
      margin-bottom: 18px;
    }
  }
}

.green-container {
  background-color: #068b54;
}

.green-footer-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.green-footer-col:not(:first-child) {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media (max-width: 767px) {
  .green-footer-col:not(:first-child) {
    margin-bottom: 20px;
  }

  .green-footer-col:first-child,
  .green-footer-col:last-child {
    flex-basis: 95%;
  }

  .green-footer-col:nth-child(2),
  .green-footer-col:nth-child(3) {
    flex-basis: 50%;
  }
}

.green-footer-col a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.green-small {
  color: #fff;
  font-size: 14px;
  display: block;
  margin: 22px 0 0 0;
}

.green-footer-content .social-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  i {
    font-size: 23px;
    margin: 0 13px 17px 3px;
  }

  @media (min-width: 768px) {
    max-width: 150px;
  }
}
