// Breadcrumbs
//
// PA Lottery breadcrumb navigation appears on interior pages.
//
// Markup: ../components/breadcrumbs.html
//
// Style guide: Components.breadcrumbs

.breadcrumbs {
  border-bottom: 1px solid #bebebe;
  color: #747474;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.17;
  margin: 0 10px 6px;
  padding: 10px 9px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  @media (min-width: 1020px) {
    margin-left: 27px;
    margin-right: 29px;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li a {
    color: #747474;
    font-weight: 300;
  }

  li:not(:first-child) {
    background: url(/App_Themes/PALotteryAll/images/arrow-11.gif) no-repeat 6px 3px;
    padding-left: 18px;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
