.lottery-carousel {
  padding: 15px 23px 0 15px;

  .prev,
  .next {
    display: none;
  }

  .frame {
    margin: 0 auto;

    @media (min-width: 1020px) {
      width: 896px;
    }

    > ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    > ul > li {
      max-width: 410px;
      background: #02663d;
      padding-bottom: 20px;
      margin-bottom: 5px;
      text-align: center;

      @media (min-width: 768px) {
        width: 290px;
        margin: 0 0 6px 8px;
      }

      @media (min-width: 934px) {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          width: 216px;

          .circle-list li {
            margin-left: 2px;
          }
        }

        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10) {
          .holder {
            height: 220px;
          }
        }
      }
    }
  }

  .holder .link-holder {
    display: block;
    text-align: center;

    a {
      color: #fff;
    }
  }

  .heading {
    background: #fff;
    padding: 2px 0 0;
    height: 70px;

    .logo-section {
      padding: 0 0 2px 2px;
    }
  }

  .watch_hp_container {
    align-self: flex-end;
    flex: 0 1 100%;
  }

  .circle-container {
    flex: 0 1 100%;
  }

  .date-bar {
    font-size: 15px;
    line-height: 1.13;
    margin: 0 auto;
    padding: 5% 0;
    width: 94%;
    flex: 0 1 100%;

    .date {
      font-style: normal;
    }

    a {
      color: #fff;
    }
  }

  .dayorevening {
    display: inline-block;
    font-size: 12px;
    width: 37%;
    text-transform: uppercase;
  }

  .holder {
    background: #068b54;
    color: #fff;
    padding: 0 0 14px 0;
    display: flex;
    flex-flow: row wrap;
  }

  img {
    vertical-align: top;
  }

  .holder-alt {
    padding: 0;
  }

  .info {
    padding: 0 15px;
    font-weight: normal;
  }

  .adv-circle {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    vertical-align: top;
    height: 1%;
    padding: 0 0 6px;

    .white-circle {
      background: #fff;
    }

    .mp-circle,
    .mb-circle {
      float: left;
      padding: 0 10px;
    }

    .label {
      display: block;
      padding: 0 0 1px;
    }

    .yellow-circle {
      background: #ffe53a;
    }
  }

  .bottom-area {
    padding: 18px 0 8px;
    color: #fff;

    .date-bar {
      margin-bottom: 3px;
      padding-top: 0;
    }
  }
}

.lottery-carousel {
  .white .bottom-area {
    .date {
      font-style: normal;
      font-size: 15px;
      line-height: 17px;
      padding: 0 0 3px;
      font-weight: bold;
    }

    .winning {
      font-size: 15px;
      padding: 0 0 3px;
      font-weight: bold;
      text-transform: uppercase;

      strong {
        display: block;
        font-size: 26px;
        line-height: normal;
        padding-top: 10px;
        color: #ffe400;
      }
    }
  }

  .note {
    display: none;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 6px 0 0 4px;
  }
}

@media screen and (max-width: 767px) {
  .lottery-carousel .adv-circle .red-circle {
    width: 28px;
    height: 28px;
    line-height: 28px;
  }
}

.mynumbers-carousel {
  position: relative;
  min-width: 388px;

  .frame {
    width: 382px;
    margin-left: 28px;
    position: relative;
    overflow: hidden;

    >ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 99999px;
      overflow: hidden;

      >li {
        float: left;
        margin: 0 12px 0 0;
        width: 167px;
        background-color: #f4f4f4;
        height: 170px;
        padding: 6px;
        border-radius: 4px;

        .currentdrawinginfo {
          display: none;
        }
      }
    }
  }

  .holder .link-holder {
    display: block;
    text-align: center;

    a {
      color: #fff;
    }
  }
}

.wyn-carousel,
.sc-carousel {
  position: relative;
  min-width: 190px;

  .frame {
    width: 194px;
    margin-left: 0;
    position: relative;
    overflow: hidden;

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 99999px;
      overflow: hidden;

      >li {
        float: left;
        margin: 0;
        width: 186px;
        height: 140px;
        padding: 4px;
      }
    }
  }

  .next,
  .prev {
    width: 14px;
    height: 18px;
    text-indent: -9999px;
    direction: ltr;
    position: absolute;
    top: 155px;
  }

  .next {
    background: url(/App_Themes/PALotteryAll/images/mynumbers-arrow-right.gif) no-repeat;
    right: -7px;
  }
  .prev {
    background: url(/App_Themes/PALotteryAll/images/mynumbers-arrow-left.gif) no-repeat;
    left: -7px;
  }

}

@media only screen and (max-width: 767px),
screen and (device-width: 320px) {
  .lottery-carousel {
    .bottom-area strong {
      display: block;
    }

    .date-bar {
      font-size: 20px;
      line-height: 20px;

      .link {
        font-size: 20px;
        letter-spacing: 0;
      }

      .date {
        font-size: 20px;
      }
    }

    .dayorevening {
      font-size: 20px;
    }

    .adv-circle {
      .yellow-circle,
      .white-circle {
        background: #fff;
        border: 2px solid #f6f6f6;
        width: 44px;
        height: 44px;
        line-height: 44px;
      }
    }

    .adv-circle .yellow-circle {
      background: #ffd543;
    }

    .white .bottom-area {
      .date,
      .winning {
        font-size: 20px;
      }
    }

    .adv-circle .red-circle {
      width: 44px;
      height: 44px;
      line-height: 44px;
    }
  }
}

.lottery-carousel .adv-circle .green-circle {
  background: #2d8068;
  border: 2px solid #fff;
  color: #fff;
  margin: 0 4px 20px 0;
}

@media only screen and (max-width: 767px) {
  .lottery-carousel .frame>ul>li {
    &:nth-child(-n+4) .circle-container {
      margin-bottom: 4%;
    }
  }
}

.mynumbers-carousel .next {
  background: url(/App_Themes/PALotteryAll/images/mynumbers-arrow-right.gif) no-repeat;
  width: 14px;
  height: 18px;
  text-indent: -9999px;
  direction: ltr;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 70px
}
.mynumbers-carousel .prev {
  background: url(/App_Themes/PALotteryAll/images/mynumbers-arrow-left.gif) no-repeat;
  width: 14px;
  height: 18px;
  text-indent: -9999px;
  direction: ltr;
  overflow: hidden;
  position: absolute;
  top: 70px
}
