// Homepage columns
.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 13px;
  line-height: 18px;
  color: #606060;
  overflow: hidden;
  margin: 0;
  padding: 0 20px;

  @media (min-width: 768px) {
    justify-content: space-between;
  }

  @media (min-width: 1020px) {
    padding: 0;
    position: relative;
  }

  @media (min-width: 1024px) {
    &:not(.between) {
      justify-content: flex-start;
    }
  }

  .col {
    font-size: 18px;
    margin-bottom: 3rem;
    width: 100%;

    @media (min-width: 768px) {
      width: 45%;
    }

    @media (min-width: 1024px) {
      width: 31%;

      &:not(:nth-child(3n)) {
        margin-right: 3%;
      }
    }

    .wscon {
      @media only screen and (max-width: 1019px) {
        height: 115px;
        overflow: hidden;

        a img {
          width: 100%;
          border: none;
          margin: 0;
        }
      }

      @media only screen and (max-width: 767px) {
        height: auto;
        margin: 0 0 13px;
        width: auto;
      }
    }
  }

  h2 {
    font-size: 22px;
    line-height: 1.09;
    color: #40af49;
    margin: 0 0 8px;

    @media (min-width: 768px) {
      margin: 0 0 13px 3px;
      font-size: 16px;
      color: $heading-color;
    }
  }

  img {
    width: 100%;
  }
}

.winners-columns {
  padding-left: 0;
  padding-bottom: 0;

  .col {
    padding: 30px 0 15px 0;

    @media (min-width: 768px) {
      width: 300px;
      &:not(:first-child) {
        margin-left: 60px;
      }
    }
  }

  p {
    font-size: 18px;

    @media (min-width: 768px) {
      font-size: 0.75rem;
      line-height: 1.42;
    }
  }

  h2 {
    margin: 0;
    font-weight: normal;
  }

  img {
    border: 0;
    display: block;
    float: left;
    margin-right: 18px;
  }
}

.one-half {
  width: 90%;

  @media (min-width: 768px) {
    width: 46%;
  }
}

.one-third {
  width: 33%;
}

.two-thirds {
  width: 65%;
}

#page-content .column ul {
  margin-top: 0;
}

.jackpot-cols {
  overflow: hidden;
  text-align: center;
  font-size: 17px;
  line-height: 1.12;
  padding: 6px 0 23px;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 1.07;
    padding-bottom: 28px;
  }

  .col {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    padding: 0 11px 0 0;
    margin-right: -4px;

    @media (max-width: 1019px) {
      color: #474747;
    }

    @media (min-width: 768px) {
      width: 151px;
    }

    @media (min-width: 1020px) {
      width: 155px;
    }

    strong {
      display: block;
      font-size: 22px;
      line-height: 1.22;

      @media (max-width: 1019px) {
        color: #007746;
      }

      @media (max-width: 990px) {
        color: #568a42;
      }

      @media (max-width: 767px) {
        font-size: 30px;
        line-height: 1.07;
      }
    }
  }

  p {
    margin: 0;
  }

  .grey-box & {
    margin: 0 -5px;
    padding-bottom: 0;
    font-weight: bold;
    line-height: 1.21;
    color: #568a42;
    text-shadow: 0 -1px 0 #36572a, 0 1px 0 #f0f0f0;
    border: solid 1px 0 #bdbdbd;
    box-shadow: 0 1px 0 #f7f7f7, inset 0 1px 0 #f7f7f7;

    .col {
      width: auto;
      padding: 0 0 0 30px;

      strong {
        font-size: 18px;
        line-height: 1.17;
        padding: 5px 0;
      }
    }

    .col:first-child {
      padding: 0 30px 0 0;
    }

    @media only screen and (max-width:990px) {
      .col,
      .col:first-child {
        display: block;
        padding: 0;
        color: #568a42;
      }
    }
  }

  .page-content-games & {
    font-size: 14px;
    line-height: 1.07;
    padding: 0;

    .col {
      width: 100%;
      padding: 0;
      margin: 0 auto;
    }

    p {
      margin: 0;
    }

    strong {
      line-height: 1.23;
    }
  }
}
