.coupon-container * {
  box-sizing: border-box;
}

#fastplaycoupons {
  .coupon-row {
    p {
      &.c1 {
        color: $blue;
      }
    }
  }
}

.coupon-row {
  padding: 2rem 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 -.75rem;

  p {
    &.c1 {
      color: $dark-green;
      font-weight: bold;
      font-size: 36px;
      text-transform: uppercase;
      margin: 0;
    }

    &.c2 {
      color: $black;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      padding: .5rem 0;
      line-height: 130%;
      margin: 0;
    }

    &.c3 {
      line-height: 130%;
      margin: 0;
    }

    &.c4 {
      margin: 1rem 0 0 0;
      align-self: flex-end;
    }
  }

  &:first-child,
  &:last-child {
    padding: 0;
  }

  img {
    &.coupon-logo {
      max-width: 150px;
    }
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  .coupon {
    flex: 0 1 33%;
    width: 33%;
    padding: 0 .75rem;
    max-width: 100%;
    max-width: 275px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin-bottom: 1rem;
    box-sizing: border-box;

    .badge {
      position: absolute;
      top: -15px;
      left: -5px;
      background: $coupon-green-dark;
      width: 50px;
      height: 50px;
      font-size: 14px;
      font-style: italic;
      font-weight: bold;
      border-radius: 50%;
      z-index: 1;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;

      &.LastChance { //Class is programmed to be capital when generated.
        font-size: 8px;
        background: #fcaf15;
      }

      span {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    @media (max-width: 991px) {
      flex: 0 1 100%;
      margin-bottom: 1.5rem;
    }

    @media (min-width: 768px) {
      align-self: normal;
      align-content: flex-end;
      align-items: flex-end;
    }

    .coupon-inner {
      max-width: 100%;
      margin: 0 auto;
      border: 2px dashed #E6E6E6;
      padding: 1.5rem;
      flex: 0 1 100%;
      text-align: center;
      align-self: flex-end;
      min-height: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      img {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
      }

      a {
        font-size: 16px;
        text-decoration: none;
        display: block;
        padding-top: 1rem;
        line-height: 100%;
      }
    }
  }
}

// Coupon tabs, Originally was its own file but seems more appropriate here
.coupon-tabs {
  flex: 0 1 100%;
  margin: 0 auto;

  .coupon-tab-selector {
    @media (max-width: 767px){
      padding-bottom: 2rem;
    }

    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding: 0;

      li {
        flex: 0 1 33.3333%;
        text-align: center;
        background-color: #F7F7F7;
        border-bottom: 2px solid #b4b4b4;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        a {
          font-size: 14px;
          line-height: 16px;
          font-weight: bold;
          color: $black;
          display: inline-block;
          text-decoration: none;
          padding: .75rem .5rem;
          align-self: center;
        }

        &.active {
          background-color: #e6e6e6;

          &.soc {
            border-color: $green;
          }

          &.fpc {
            border-color: $blue;
          }

          &.oc {
            border-color: $ltgreen;
          }
        }
      }
    }
  }

  .coupon-tab-content-panel {
    display: none;

    &.active {
      display: block;
    }
  }
}

.coupon-container {
  padding: 0 15px;
  position: relative;
  max-width: 800px;
  margin: 0 auto;

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;

    @media (max-width: 767px) {
      font-size: 18px;
    }

    &.heading {
      margin: 2rem 0;

      @media (max-width: 767px) {
        margin-top: 0;
      }
    }
  }

  h3 {
    font-size: 18px;

    &.sub-heading {
      margin: 2rem 0;
    }
  }

  .text-center {
    margin: 0 auto;
    text-align: center;
  }

  .no-padding {
    padding: 0;
  }

  .green {
    color: $green;
  }

  .bold {
    font-weight: bold;
  }

  img {
    vertical-align: middle;
  }

  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .lottery-modal {
    display: none;
  }

  @media (max-width: 767px) {
    padding: 0;
  }

  a {
    text-decoration: none;
    color: $green;

    &:hover {
      text-decoration: underline;
    }

    &.text-link {
      text-decoration: underline;
      display: inline-block;
    }
  }

  p {
    &#coupon-intro {
      font-size: 16px;
      text-align: center;
      line-height: 130%;
      margin: 1rem 0;
    }

    &.text-info {
      line-height: 100%;
      padding: 2rem 0;
      vertical-align: middle;
      font-size: 16px;
      margin: 0;

      i {
        font-size: 1.75rem;
        margin-right: 8px;
        vertical-align: middle;
      }
    }

    &.date-range {
      font-size: 16px;
      color: #747474;
    }

    &.no-offers {
      padding-bottom: 3rem;
      padding-top: 3rem;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      text-align: center;
    }
  }
}


// Grid system, may interfere with other sections so over classing a bit and leaving it here & seperate due to potential conflicts and workability.
.coupon-container {
  .clearfix:before,
  .clearfix:after,
  .row:before,
  .row:after,
  &:before,
  &after, {
    content: " ";
    display: table;
  }
  .clearfix:after,
  .row:after,
  &:after {
    clear: both;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-flow: row wrap;

    @media (max-width: 767px) {
      margin: 0 auto;
    }
  }

  .row-inner {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-flow: row wrap;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 100%;
    max-width: 100%;
  }

  @media (min-width: 768px) {
    .col-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .col-11 {
      flex: 0 0 91%;
      max-width: 91%;
    }
    .col-10 {
      flex: 0 0 83%;
      max-width: 83%;
    }
    .col-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-8 {
      flex: 0 0 66%;
      max-width: 66%;
    }
    .col-7 {
      flex: 0 0 58%;
      max-width: 58%;
    }
    .col-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-5 {
      flex: 0 0 41%;
      max-width: 41%;
    }
    .col-4 {
      flex: 0 0 33%;
      max-width: 33%;
      padding: 0;
    }
    .col-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-2 {
      flex: 0 0 16%;
      max-width: 16%;
    }
    .col-1 {
      flex: 0 0 8%;
      max-width: 8%;
    }
  }
}
