// #page-content wrapper and color property for h2 needed to override overly
// specific selectors in staging. Please remove as part of the CSS refactor on
// dev.

#page-content {
  .drawing-box {
    background-color: #0074d3;
    color: #fff;

    &:nth-child(even) {
      background-color: #00498e;
    }

    section {
      flex-flow: row wrap;
    }

    .lnk-watch {
      position: relative;
      padding-left: 20px;
    }

    .fa {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 50%;
      padding: 0.2rem;
      border-radius: 50%;
      border: solid 1px #fff;
    }
  }

  .drawing-header {
    border-bottom: solid 1px rgba(255,255,255,0.33);
    padding: 1rem;

    h2 {
      margin: 0;
      color: #fff;
    }

    span {
      font-size: 60%;
      font-weight: 400;
      opacity: 0.66;
      text-transform: uppercase;
    }

    p {
      margin: 0; // remove after push to staging
    }
  }

  .keno-drawing-hot {
    background-color: #d2232a;
  }

  .drawing-header-hot,
  .drawing-header-cold {
    padding: 1rem 0 0;
    border-bottom: none;

    h2 {
      font-weight: 400;
      text-align: center;
    }
  }

  .results-box {
    padding: 1rem 0.5rem;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;

    @media (max-width: 911px) {
      width: 300px;
    }

    @media (min-width: 912px) {
      padding-left: 1rem;
      padding-right: 0;
      flex: 0 0 77%;
    }

    + p {
      flex: 1 0 100%;
      text-align: center;
      margin: 1rem 0;
      + span {
        margin-left: 0px;
      }

      @media (min-width: 912px) {
        flex-basis: 18%;
      }
    }
  }

  .results-hot,
  .results-cold {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-evenly;
  }

  ///// FOR DEV
  // .drawing-value {
  //   padding: 0.6rem;
  //   width: 2.75rem;
  //   border-radius: 50%;
  //   background: radial-gradient(ellipse at bottom, rgba(168,168,168,1) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 97%);
  //   color: $body-text-color;
  //   display: inline-block;
  //   margin: 0.33rem 0.25rem;
  //   text-align: center;
  //   font-weight: 600;
  //   font-size: 1.5rem;
  //   line-height: 1.5;
  // }
  /////

  ///// FOR STAGING
  .drawing-value {
    background: radial-gradient(ellipse at bottom, rgba(168,168,168,1) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 97%);
    border-radius: 50%;
    color: $body-text-color;
    display: inline-block;
    font-size: 1.35rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 0.33rem 0.25rem;
    padding: 0.33rem;
    text-align: center;
    width: 2rem;
  }

  @media only screen and (max-width:767px), screen and (device-width: 320px) {
    .drawing-value {
      width: 32px;
    }
  }

  .bonus-value {
    background-color: #fedc00;
    color: #4d4d4d;
    display: inline-block;
    padding: 0.5rem;
    text-transform: uppercase;
    margin-left: 0px;
  }

  .multiplier {
    background-color: #fedc00;
    color: #1b2e7c;
    font-size: 150%;
    font-weight: 600;
  }
}
