// fieldset {
//   margin: 0;
//   padding: 0;
//   border-style: none
// }

// input {
//   &[type=submit]:hover,
//   &[type=button]:hover {
//     cursor: pointer;
//   }
//   &[type=text],
//   &[type=password],
//   &[type=file],
//   &[type=submit] {
//     appearance: none;
//   }

//   &::placeholder {
//     color: #666;
//   }
// }

// textarea {
//   appearance: none;
// }

// .retailer-search-form {
//   padding-bottom: 19px;

//   .field-col {
//     width: 371px;
//   }

//   .row {
//     padding: 3px 3px 15px;
//     overflow: hidden;
//     margin: 0 0 0 -3px;
//   }

//   .map-col {
//     width: 297px;
//     padding: 10px 0 0;
//     img {
//       vertical-align: top;
//     }
//   }
// }

// #become-retailer-form input[type=text],
// .retailer-search-form input[type=text] {
//   border-radius: 5px;
//   border: 1px solid #ccc;
//   background: #fff;
//   font-style: italic;
//   font-size: 18px;
//   line-height: 20px;
//   color: #666;
//   margin: 0;
//   padding: 9px 11px 13px;
//   width: 260px;
// }

// .retailer-search-form {
//   .zip-code input[type=text] {
//     width: 155px;
//     margin: 0 0 13px;
//   }
//   input[type=text]:focus {
//     box-shadow: 0 0 3px #7dcde4;
//   }
//   select {
//     width: 309px;
//   }
// }

// .main-content .pseudo-form input[type="submit"],
// #vip-login-special input[type="submit"] {
//   overflow: hidden;
//   margin: 0;
//   padding: 8px;
//   border-style: none;
//   display: inline-block;
//   font-size: 22px;
//   color: #fff;
//   font-weight: bold;
//   border-radius: 4px;
//   box-shadow: 0 1px 2px #757554;
//   text-shadow: 0 2px 1px #6a6a6a;
//   background: linear-gradient(to bottom, #e11f26 0, #e01f26 36%, #d21f25 53%, #ae1e23 85%, #a31e22 100%);
// }

// .pseudo-form {
//   display: block;
//   margin-top: 0;
//   margin-bottom: 20px;
// }

// .pseudo-form-item {
//   display: none;
// }

// #page-content form {
//   display: block;
// }

// .main-content .pseudo-form input[type="text"],
// #page-content input[type="text"],
// .main-content .pseudo-form input[type="number"] {
//   margin: 0;
//   padding: 10px 10px 11px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   background: #fff;
//   box-sizing: border-box;
//   color: #666;
//   font: italic 18px Helvetica, Arial sans-serif;

//   &:focus {
//     outline: 0;
//   }
// }

// .create-group-form {
//   input[type="text"]:focus,
//   textarea:focus {
//     box-shadow: 0 0 3px #7dcde4;
//   }
// }

// input[type="text"]:focus {
//   box-shadow: 0 0 3px #7dcde4;
// }

// .group-content .filter-form {
//   padding-right: 12px;
//   label {
//     color: #568a42;
//     font-size: 18px;
//     line-height: 21px;
//     padding: 12px 13px 12px;
//   }
//   select {
//     width: 224px;
//   }
// }

// .filter-form .select-area {
//   .center {
//     padding: 12px 11px;
//   }
//   .select-opener {
//     background-position: 100% 16px;
//   }
// }

// .create-group-form {
//   padding: 0 0 16px;
// }

// .create-group-form {
//   .row,
//   .row02 {
//     width: 100%;
//   }

//   .row {
//     padding-bottom: 42px;
//   }

//   .row02 {
//     padding-bottom: 12px;
//   }
// }

// .join-group-form .row {
//   width: 100%;
//   padding-bottom: 42px;
// }

// .create-group-form {
//   .row .cell,
//   .row02 .cell {
//     width: 46.3%;
//   }
// }

// .join-group-form .row .cell {
//   width: 46.3%;
// }

// .create-group-form {
//   .row02 .cell {
//     width: 61.5%;
//   }
// }

// .create-group-form .holder,
// .join-group-form .holder {
//   width: 100%;
//   overflow: visible;
// }

// .create-group-form {
//   input[type="text"],
//   textarea {
//     width: 100%;
//     margin: 0;
//     padding: 10px 10px 11px;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     background: #fff;
//     box-sizing: border-box;
//     color: #c2c2c2;
//     font: italic 18px Helvetica, Arial sans-serif;
//     outline: 0;
//   }
// }

// .join-group-form input[type="text"],
// .invite-members-form input[type="text"],
// .enter-numbers-form .row-holder input[type="text"] {
//   width: 100%;
//   margin: 0;
//   padding: 10px 10px 11px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   background: #fff;
//   box-sizing: border-box;
//   color: #c2c2c2;
//   font: italic 18px Helvetica, Arial sans-serif;

//   &:focus {
//     outline: 0;
//   }
// }

// .create-group-form {
//   input[type="text"]::-webkit-input-placeholder,
//   textarea::-webkit-input-placeholder {
//     color: #c2c2c2;
//   }
// }

// .join-group-form input[type="text"]::-webkit-input-placeholder,
// .invite-members-form input[type="text"]::-webkit-input-placeholder {
//   color: #c2c2c2;
// }

// .create-group-form {
//   textarea {
//     width: 100%;
//     height: 176px;
//     resize: none;
//     overflow: auto;
//   }
//   label {
//     font-size: 18px;
//     line-height: 21px;
//     display: block;
//     padding-bottom: 11px;
//   }
//   .row02 .box {
//     height: 1%;
//     overflow: hidden;
//     font-size: 12px;
//     line-height: 18px;
//     padding: 28px 0 1px 38px;
//   }
//   .submit-holder {
//     height: 1%;
//     overflow: hidden;
//     padding: 2px 8px 2px 2px;
//   }
// }

// .invite-members-form .submit-holder {
//   height: 1%;
//   overflow: hidden;
//   padding: 2px 8px 2px 2px;
// }

// .create-group-form .submit-holder input[type="submit"],
// .join-group-form input[type="submit"],
// .invite-members-form input[type="submit"],
// .enter-numbers-form input[type="submit"],
// .calculator-form input[type="submit"] {
//   width: 345px;
//   height: 48px;
//   overflow: hidden;
//   margin: 0 auto;
//   padding: 0;
//   border-style: none;
//   display: block;
//   font-size: 24px;
//   color: #fff;
//   font-weight: bold;
//   border-radius: 4px;
//   box-shadow: 0 1px 2px #757554;
//   text-shadow: 0 2px 1px #6a6a6a;
//   background: linear-gradient(to bottom, #e11f26 0, #e01f26 36%, #d21f25 53%, #ae1e23 85%, #a31e22 100%);
// }

// .join-group-form {
//   padding: 2px 0 50px;
// }

// .group-content .join-group-form h4 {
//   margin-bottom: 8px;
//   font-size: 18px;
//   line-height: 21px;
//   font-weight: normal;
//   color: #4d4d4d;
// }

// .join-group-form {
//   .row {
//     padding: 18px 0 16px;
//   }
//   .btn-holder,
//   .submit-holder {
//     height: 1%;
//   }
//   .btn-holder {
//     padding: 0 5px 48px;
//   }
//   .add-more {
//     font-weight: bold;
//     text-transform: uppercase;
//     color: #fff;
//     padding: 6px 8px 7px 7px;
//     border-radius: 4px;
//     box-shadow: 0 1px 2px #757554;
//     text-shadow: 0 2px 1px #6a6a6a;
//     background: linear-gradient(to bottom, #e11f26 0, #e01f26 36%, #d21f25 53%, #ae1e23 85%, #a31e22 100%);
//   }
// }

// .invite-group-form .invite {
//   font-size: 16px;
//   line-height: 19px;
//   text-transform: none;
//   text-decoration: none;
//   border-radius: 6px;
//   padding: 5px 11px 6px 14px

//   &:hover {
//     text-decoration: underline;
//   }
// }

// .invite-members-form .add-more {
//   font-weight: bold;
//   text-transform: uppercase;
//   color: #fff;
//   padding: 6px 8px 7px 7px;
//   border-radius: 4px;
//   box-shadow: 0 1px 2px #757554;
//   text-shadow: 0 2px 1px #6a6a6a;
//   background: linear-gradient(to bottom, #e11f26 0, #e01f26 36%, #d21f25 53%, #ae1e23 85%, #a31e22 100%);
// }

// .enter-numbers-form {
//   .add-more,
//   .upload-all {
//     font-weight: bold;
//     text-transform: uppercase;
//     color: #fff;
//     padding: 6px 8px 7px 7px;
//     border-radius: 4px;
//     box-shadow: 0 1px 2px #757554;
//     text-shadow: 0 2px 1px #6a6a6a;
//     background: linear-gradient(to bottom, #e11f26 0, #e01f26 36%, #d21f25 53%, #ae1e23 85%, #a31e22 100%);
//   }
// }

// .calculator-form .add-more {
//   font-weight: bold;
//   text-transform: uppercase;
//   color: #fff;
//   padding: 6px 8px 7px 7px;
//   border-radius: 4px;
//   box-shadow: 0 1px 2px #757554;
//   text-shadow: 0 2px 1px #6a6a6a;
//   background: linear-gradient(to bottom, #e11f26 0, #e01f26 36%, #d21f25 53%, #ae1e23 85%, #a31e22 100%);
// }

// .join-group-form .submit-holder {
//   padding-right: 6px;
// }

// .invite-group-form {
//   font-size: 12px;
//   line-height: 15px;
//   padding: 0 1px 20px 2px;
//   a {
//     text-decoration: underline;
//     color: #568a42;
//     &:hover {
//       text-decoration: none;
//     }
//   }
// }

// .invite-group-form {
//   p span {
//     padding-left: 24px;
//   }
//   .btn-holder {
//     padding: 0 5px 14px;
//     overflow: hidden;
//   }
//   .invite {
//     font-size: 16px;
//     line-height: 19px;
//     text-transform: none;
//     text-decoration: none;
//     border-radius: 6px;
//     padding: 5px 11px 6px 14px;
//     &:hover {
//       text-decoration: underline;
//     }
//   }
//   table {
//     width: 100%;
//     border-collapse: collapse;
//     background: #f8f5f5;
//     box-shadow: 0 1px 2px #84845e;
//     font-size: 14px;
//     line-height: 17px;
//     th {
//       vertical-align: top;
//       padding: 7px 5px 10px;
//       text-align: left;
//       &.col01 {
//         width: 160px;
//         padding-left: 24px;
//       }
//       &.col02 {
//         width: 180px;
//       }
//       &.col03 {
//         width: 204px;
//       }
//       &.col04 {
//         width: 108px;
//       }
//     }
//     td {
//       vertical-align: top;
//       padding: 11px 5px;
//       border-top: 1px solid #bdbdbd;
//       background: url(https://www.palottery.state.pa.us/App_Themes/PALotteryAll/images/bg-border.png) repeat-x;
//       &.col01 {
//         padding-left: 24px;
//       }
//       &.col04 {
//         padding-right: 61px;
//         text-align: center;
//       }
//     }
//   }
//   .odd td {
//     background: #ccedbf url(https://www.palottery.state.pa.us/App_Themes/PALotteryAll/images/bg-border.png) repeat-x;
//   }
//   input[type="checkbox"] {
//     width: 13px;
//     height: 13px;
//     margin: 0;
//     padding: 0;
//     vertical-align: middle;
//   }
// }

// .manage-tickets-form input[type="checkbox"],
// .manage-group-form input[type="checkbox"] {
//   width: 13px;
//   height: 13px;
//   margin: 0;
//   padding: 0;
//   vertical-align: middle;
// }

// .invite-group-form .submit-holder {
//   height: 1%;
//   overflow: hidden;
//   padding: 5px 39px 5px 23px;

//   input[type="submit"] {
//     width: 90px;
//     height: 30px;
//     overflow: hidden;
//     margin-top: 6px;
//     padding: 0;
//     border-style: none;
//     font-weight: bold;
//     font-size: 16px;
//     color: #fff;
//     border-radius: 6px;
//     box-shadow: 0 1px 2px #757554;
//     text-shadow: 0 2px 1px #6a6a6a;
//     background: linear-gradient(to bottom, #e11f26 0, #e01f26 36%, #d21f25 53%, #ae1e23 85%, #a31e22 100%);
//     cursor: pointer;
//   }
// }

// .manage-tickets-form {
//   .row {
//     height: 279px;
//     overflow: auto;
//     box-shadow: 0 0 1px #cbc99b;
//     border: 1px solid #cec9c9;
//     background: #f8f5f5;
//   }
//   table {
//     width: 100%;
//     border-collapse: collapse;
//     th {
//       padding: 6px 5px 14px;
//       vertical-align: top;
//       text-align: left;
//       font-size: 12px;
//       line-height: 15px;
//       text-transform: uppercase;
//       &.col01 {
//         width: 210px;
//         padding-left: 15px;
//       }
//       &.col02 {
//         width: 54px;
//       }
//       &.col03 {
//         width: 39px;
//       }
//     }
//     td {
//       padding: 8px 5px;
//       vertical-align: top;
//       &.col01 {
//         padding-left: 13px;
//       }
//       &.col02 {
//         white-space: nowrap;
//       }
//       &.col03 {
//         text-align: center;
//         padding: 8px 9px 9px 0;
//       }
//     }
//   }
//   input[type="checkbox"] {
//     margin-bottom: 2px;
//   }
//   ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//   }
//   li {
//     padding-left: 7px;
//     &:first-child {
//       padding-left: 0;
//     }
//   }
//   ul.marked li {
//     border-bottom: 1px solid #568a42;
//     color: #568a42;
//   }
//   .view {
//     padding: 8px 17px;
//     overflow: hidden;
//     a {
//       padding: 0 0 0 24px;
//       text-decoration: underline;
//       color: #568a42;
//       background: url(https://www.palottery.state.pa.us/App_Themes/PALotteryAll/images/sprite-icons.png) no-repeat -354px -105px;
//     }
//   }
// }

// .enter-numbers-form .upload {
//   padding: 0 0 0 24px;
//   text-decoration: underline;
//   color: #568a42;
//   background: url(https://www.palottery.state.pa.us/App_Themes/PALotteryAll/images/sprite-icons.png) no-repeat -354px -105px;
// }

// .manage-tickets-form {
//   .view a:hover {
//     text-decoration: none;
//   }
//   .submit-holder {
//     height: 1%;
//     overflow: hidden;
//     padding: 11px 16px 22px 10px;
//   }
//   input[type="submit"] {
//     height: 24px;
//     overflow: hidden;
//     margin: 0;
//     padding: 0 0 3px;
//     border-style: none;
//     font-weight: bold;
//     font-size: 12px;
//     text-transform: uppercase;
//     color: #fff;
//     border-radius: 4px;
//     box-shadow: 0 1px 2px #757554;
//     text-shadow: 0 2px 1px #6a6a6a;
//     background: linear-gradient(to bottom, #e11f26 0, #e01f26 36%, #d21f25 53%, #ae1e23 85%, #a31e22 100%);
//     cursor: pointer;
//   }
//   .submit-holder {
//     a {
//       height: 24px;
//       overflow: hidden;
//       margin: 0;
//       padding: 0 0 3px;
//       border-style: none;
//       font-weight: bold;
//       font-size: 12px;
//       text-transform: uppercase;
//       color: #fff;
//       border-radius: 4px;
//       box-shadow: 0 1px 2px #757554;
//       text-shadow: 0 2px 1px #6a6a6a;
//       background: linear-gradient(to bottom, #e11f26 0, #e01f26 36%, #d21f25 53%, #ae1e23 85%, #a31e22 100%);
//       cursor: pointer;
//     }
//     .submit-enter {
//       width: 197px;
//       height: 18px;
//       padding: 4px 14px 3px;
//       white-space: nowrap;
//     }
//   }
//   .submit-edit {
//     width: 54px;
//   }
// }

// .manage-group-form {
//   padding: 0 2px 20px 1px;
//   table {
//     width: 100%;
//     border-collapse: collapse;
//     background: #f8f5f5;
//     box-shadow: 0 1px 2px #84845e;
//     th {
//       vertical-align: top;
//       text-align: left;
//       padding: 7px 5px 10px;
//       &.col01 {
//         width: 104px;
//         padding-left: 24px;
//       }
//       &.col02 {
//         width: 125px;
//       }
//       &.col03 {
//         width: 134px;
//       }
//       &.col04 {
//         width: 148px;
//       }
//       &.col05 {
//         width: 131px;
//       }
//     }
//     td {
//       vertical-align: top;
//       padding: 11px 5px;
//       border-top: 1px solid #bdbdbd;
//       background: url(https://www.palottery.state.pa.us/App_Themes/PALotteryAll/images/bg-border.png) repeat-x;
//     }
//   }
//   .odd td {
//     background: #ccedbf url(https://www.palottery.state.pa.us/App_Themes/PALotteryAll/images/bg-border.png) repeat-x;
//   }
//   table td {
//     &.col01 {
//       padding-left: 24px;
//     }
//     &.col04 {
//       white-space: nowrap;
//     }
//     &.col05 {
//       vertical-align: middle;
//       text-align: center;
//       padding-right: 32px;
//     }
//   }
//   .submit-holder {
//     height: 1%;
//     overflow: hidden;
//     font-size: 12px;
//     line-height: 15px;
//     padding: 7px 22px 7px 23px;

//     input[type="submit"] {
//       width: 124px;
//       height: 24px;
//       overflow: hidden;
//       display: block;
//       margin: 3px auto 0;
//       padding: 0 0 3px;
//       border-style: none;
//       font-weight: bold;
//       font-size: 12px;
//       text-transform: uppercase;
//       color: #fff;
//       border-radius: 4px;
//       box-shadow: 0 1px 2px #757554;
//       text-shadow: 0 2px 1px #6a6a6a;
//       background: linear-gradient(to bottom, #e11f26 0, #e01f26 36%, #d21f25 53%, #ae1e23 85%, #a31e22 100%);
//       cursor: pointer;
//     }

//     .send {
//       margin-left: 6px;
//     }
//   }
// }

// .invite-members-form {
//   min-width: 536px;
//   padding-right: 79px;
//   .row {
//     height: 1%;
//     padding-bottom: 4px;
//   }
//   label {
//     width: 20%;
//     padding: 16px 5px 16px 0;
//   }
//   input[type="text"] {
//     width: 78.6%;
//   }
//   .btn-holder {
//     height: 1%;
//     margin-top: -1px;
//     padding-bottom: 56px;
//   }
// }

// .enter-numbers-form .btn-holder {
//   height: 1%;
//   margin-top: -1px;
//   padding-bottom: 56px;
// }

// .invite-members-form .submit-holder {
//   padding: 2px 8px 30px 52px;
// }

// .enter-numbers-form {
//   min-width: 913px;
//   padding-bottom: 28px;
//   .row-holder {
//     height: 1%;
//     padding: 0 16px 30px 12px;
//     .row {
//       .cell {
//         padding-bottom: 22px;
//       }

//       padding-top: 22px;
//     }
//     .box {

//       padding-right: 7px;
//     }
//     label {
//       width: 32px;
//       padding: 7px 0;
//       font-size: 18px;
//       line-height: 21px;

//     }
//     .box {
//       &:first-child label {
//         width: 81px;
//       }
//       input[type="text"] {
//         width: 63px;
//         margin: 0 10px 0 0;
//         padding: 6px 10px 7px;
//         border-radius: 1px;
//       }
//       &:first-child input[type="text"] {
//         width: 50px;
//       }
//     }
//   }
//   .btn-holder {
//     margin: 0;
//     padding: 1px 0 0;
//   }
//   .row02 .btn-holder {
//     padding-top: 4px;
//   }

//   .upload-all {
//     padding: 5px 12px 8px 11px;
//     text-transform: none;
//   }
//   .row02 {
//     width: 337px;

//     h3 {
//       margin: 0 0 0 20px;
//       font-size: 16px;
//       line-height: 19px;
//       color: #568a42;
//     }
//     .cell {
//       height: 1%;
//       padding: 7px 28px 26px 0;
//     }
//   }
//   select {
//     width: 124px;
//   }
//   .select-area {
//     height: 27px;
//     .center {
//       font-size: 14px;
//       line-height: 17px;
//       color: #4d4d4d;
//       font-style: normal;
//       padding: 5px 22px 5px 24px;
//     }
//     .select-opener {
//       height: 27px;
//       margin-right: -6px;
//       background-position: 100% 6px;
//     }
//   }
//   .upload {

//     margin: 0 0 0 32px;
//     padding: 3px 0 3px 23px;
//     background-position: -354px -103px;
//     &:hover {
//       text-decoration: none;
//     }
//   }
//   .submit-holder {
//     height: 1%;
//     padding: 0 15px 0 0;
//   }
// }

// .calculator-form {
//   width: 602px;
//   font-size: 12px;
//   line-height: 15px;
//   p {
//     margin: 0 0 16px;
//   }
//   h3 {
//     margin: 0 0 3px;
//     font-size: 16px;
//     line-height: 19px;
//     color: #568a42;
//   }
//   .row {
//     padding-bottom: 21px;
//   }
//   input[type="text"] {
//     width: 133px;
//     margin: 0;
//     padding: 10px 4px;
//     border: 1px solid #ccc;
//     background: #fff;

//     font: 14px Helvetica, Arial, sans-serif;
//     color: #4d4d4d;
//   }

//   .long {
//     width: 217px;
//   }
//   .middle {
//     width: 113px;
//   }
//   .tip {
//     display: block;
//     padding: 3px 0;
//   }
//   .radio-holder {
//     height: 1%;
//     font-size: 14px;
//     line-height: 17px;
//     padding: 0 1px 13px;
//     input[type="radio"] {
//       width: 18px;
//       height: 18px;
//       margin: 0;
//       padding: 0;

//     }
//   }
// }

// .calculator-form {
//   .row02 {
//     width: 100%;
//     display: table;
//     margin: -6px 0 -14px;
//     h3 {
//       white-space: nowrap;
//       margin-bottom: 5px;
//     }
//     .cell {
//       vertical-align: top;
//       display: table-cell;
//       padding-right: 5px;
//     }
//     .col01 {
//       width: 255px;
//     }
//     .col02 {
//       width: 174px;
//     }
//     .col03 {
//       width: 158px;
//     }
//     .block {
//       padding-bottom: 12px;
//     }
//     input.long[type="text"] {
//       width: 211px;
//     }
//   }
//   .btn-holder {
//     padding: 0 19px 11px 0;
//   }
//   .add-more {
//     font-size: 14px;
//     margin-top: 10px;
//     padding: 7px 7px 7px 6px;

//   }
//   .btn-holder .tip {
//     width: auto;
//   }
//   .submit-holder {
//     height: 1%;
//     padding: 0 23px 5px 72px;
//     a {

//       color: #568a42;
//       text-decoration: underline;
//       margin-top: 12px;
//       &:hover {
//         text-decoration: none;
//       }
//     }
//   }
//   input[type="submit"] {
//     width: 255px;
//     height: 38px;
//     padding-bottom: 3px;
//     font-size: 18px;
//   }
// }

// #winningemailsettings label {
//   display: inline;
// }

// .errormessage,
// .EditingFormErrorLabel {
//   background-color: #fff;
//   border: 1px solid red;
//   color: red;
//   display: block;
//   font-size: 12px;
//   font-weight: bold;
//   padding: 4px 8px;
//   border-radius: 3px;
//   margin-bottom: 10px;
// }

// .formActionMessage {
//   background-color: #fff;
//   border: 1px solid #009c5c;
//   color: #009c5c;
//   display: block;
//   font-size: 12px;
//   font-weight: bold;
//   padding: 4px 8px;
//   border-radius: 3px;
//   margin-bottom: 10px;
// }

// #become-retailer-form input[type='submit'] {
//   background: 0;
//   color: #fff;
//   background-color: #009c5b;
//   display: inline-block;
//   padding: 8px 25px;
//   text-align: center;
//   font-size: 12px;
//   font-weight: bold;
//   text-shadow: 1px 1px 2px #333;
//   text-transform: uppercase;
//   margin-right: 10px;
//   margin-bottom: 6px;
//   border-radius: 4px;
//   display: block;
//   margin: 0 auto;
//   font-size: 18px;
//   width: 280px;
// }

// #become-retailer-form {
//   input[type='submit']:hover {
//     background-color: #036841;
//     text-decoration: none;
//   }
//   background-color: #e7e7e7;
//   overflow: hidden;
//   padding: 20px;
//   text-align: center;
// }

// .info-container #become-retailer-form {
//   .fieldcontainer {
//     display: inline-block;
//     margin-bottom: 30px;
//     margin-right: 30px;
//     width: 280px;
//   }
//   input[type='text'] {
//     display: inline-block;
//     line-height: normal;
//     padding: 10px 10px 11px;
//     width: 260px;
//   }
//   div.Error {
//     overflow: hidden;
//     margin-bottom: 6px;
//   }
// }

// #become-retailer-form {
//   p {
//     margin: 0 0 10px 0;
//     padding: 0;
//     text-align: left;
//   }
//   label {
//     display: none;
//   }
//   >span {
//     padding: 0;
//   }
// }

// #retailer-form-contain>p {
//   display: none;
// }

// #feedbackForm {
//   .FormPanel {
//     label {
//       font-weight: bold;
//     }
//     p {
//       margin: 0;
//       padding: 0;
//     }
//     textarea {
//       border: 1px solid #ccc;
//       width: 90%;
//       border-radius: 4px;
//     }
//   }
//   .CaptchaTextBox {
//     width: 100px;
//   }
// }

// #retailer-form {
//   background-color: #f9f5f6;
//   padding: 20px;
// }

// @media only screen and (max-width: 1090px) {
//   .enter-numbers-form {
//     min-width: 320px;
//     .row-holder {
//       .row {
//         width: 500px;
//         margin: 0 auto;
//         padding-bottom: 12px;
//       }
//       .row02 {
//         width: 500px;
//         margin: 0 auto;
//         padding-bottom: 0;
//       }
//     }
//   }
// }

// @media (max-width: 1019px) {
//   .retailer-search-form {
//     .field-col {
//       width: auto;
//     }
//     .map-col {
//       width: auto;

//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 980px) {
//   .invite-members-form {
//     min-width: 1px;
//   }
// }

// @media only screen and (max-width: 940px) {
//   .create-group-form {
//     .row,
//     .row02 {
//       padding-bottom: 0;
//     }
//     .row .cell {
//       width: auto;

//       padding-bottom: 10px;
//       &:first-child {
//         width: auto;

//         padding-bottom: 10px;
//       }
//     }
//   }
//   .manage-tickets-form {
//     .submit-holder .submit-enter {
//       width: auto;
//       margin-bottom: 5px;

//       display: block;
//       text-align: center;
//     }
//     input[type="submit"] {
//       width: 100%;

//       display: block;
//       margin: 0 0 5px;
//     }
//   }
// }

// @media only screen and (max-width: 840px) {
//   .create-group-form .row02 {
//     .cell {
//       width: auto;

//     }
//     .box {
//       padding-left: 0;
//     }
//   }
// }

// @media only screen and (max-width: 800px) {
//   .calculator-form {
//     width: auto;
//   }
// }

// @media (max-width: 767px) {
//   .group-content .join-group-form h4 {
//     font-size: 21px;
//     line-height: 24px;
//   }
//     .invite-members-form {
//     padding-right: 0;
//   }
//   .invite-members-form {
//     label {
//       width: auto;
//       display: block;
//       padding: 8px 0;
//     }
//     input[type="text"] {
//       width: 100%;
//       display: block;
//     }
//     .btn-holder {
//       padding-bottom: 16px;
//     }
//     .submit-holder {
//       padding: 2px 0 15px;
//     }
//     input[type="submit"] {
//       width: 300px;
//     }
//   }
//   .enter-numbers-form {
//     margin-left: -6px;
//     .row-holder {
//       padding: 0 0 30px;
//       .row {
//         padding-top: 0;
//         width: 300px;
//         margin: 0 auto;
//         padding-bottom: 12px;

//       }
//       .row02 {
//         width: 300px;
//         margin: 0 auto;
//         padding-bottom: 12px;

//         padding-bottom: 0;
//       }
//       .row .cell {
//         padding-bottom: 12px;
//       }
//     }
//     .row02 .cell {
//       padding: 7px 0 12px;
//     }
//     .row-holder .box {

//       overflow: hidden;
//       padding: 0 0 5px;
//       label {
//         display: block;
//       }
//       input[type="text"] {
//         margin-right: 5px;
//       }
//     }
//     .upload {
//       margin: 0;
//     }
//     .submit-holder {
//       padding-right: 0;
//     }
//     input[type="submit"] {
//       width: 300px;
//     }
//   }
//   .calculator-form {
//     .btn-holder {
//       padding-right: 0;
//     }
//     .submit-holder {
//       padding: 0 0 5px;
//     }
//     input[type="text"] {
//       width: 100%;
//       box-sizing: border-box;
//     }
//     .row02 {
//       input.long[type="text"] {
//         width: 100%;
//         box-sizing: border-box;
//       }
//       h3 {
//         font-size: 15px;
//         line-height: 18px;
//       }
//     }

//     .btn-holder .tip {
//       width: 115px;
//     }
//     .submit-holder a {
//       padding-right: 3px;
//     }
//     input[type="submit"] {
//       width: 200px;
//     }
//   }
// }

// .label-subtext {
//   display: block;
//   font-size: 0.6875rem;
//   line-height: 1.2;
//   padding-left: 1.5rem;
// }

// .group-content .filter-form {
//   padding-right: 12px
// }
// .group-content .filter-form label {
//   color: #568a42;
//   font-size: 18px;
//   line-height: 21px;
//   padding: 12px 13px 12px
// }
// .group-content .filter-form select {
//   width: 224px;
// }

// #page-content form {
//   display: block;
// }

// #become-retailer-form {
//   background-color: #e7e7e7;
//   overflow: hidden;
//   padding: 20px;
//   text-align: center
// }

// #become-retailer-form label {
//   display: none;
// }
// #become-retailer-form>span {
//   padding: 0
// }

// #feedbackForm .FormPanel label {
//   font-weight: bold
// }

// #feedbackForm .FormPanel textarea {
//   border: 1px solid #ccc;
//   width: 90%;
//   border-radius: 4px
// }
// #feedbackForm .CaptchaTextBox {
//   width: 100px
// }
// #retailer-form {
//   background-color: #f9f5f6;
//   padding: 20px
// }

// .errormessage, .EditingFormErrorLabel {
//   background-color: #fff;
//   border: 1px solid red;
//   color: red;
//   display: block;
//   font-size: 12px;
//   font-weight: bold;
//   padding: 4px 8px;
//   border-radius: 3px;
//   margin-bottom: 10px
// }
// .formActionMessage {
//   background-color: #fff;
//   border: 1px solid $message-border-color;
//   color: $message-text-color;
//   display: block;
//   font-size: 12px;
//   font-weight: bold;
//   padding: 4px 8px;
//   border-radius: 3px;
//   margin-bottom: 10px
// }

.err {
  color: $error-text-color;
  border: solid 1px $error-border-color;
}

span.err {
  display: inline-block;
  padding: 1rem;
}

.err-field {
  border: solid 1px $error-border-color;
}

ul.err {
  border: none;

  &::before {
    content: 'Errors:';
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
    margin-left: -1.25rem;
  }
}

.stack-labels {
  margin: 1rem 0;
}
