.game-list {
  list-style: none;
  margin: 0;
  padding: 20px 0 0 0;
  text-align: center;

  .area & {
    position: relative;
    left: -5px;
  }

  > li {
    display: inline-block;
    vertical-align: top;
    width: 174px;
    margin: 0 6px 18px 9px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    position: relative;

    a {
      border: 4px solid #fff;
      background: #cdecf8;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      width: 168px;
      height: 96px;
    }

    .area & {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    }

    &:hover {
      z-index: 2;
    }
  }

  .tooltip {
    position: absolute;
    bottom: 49px;
    width: 220px;
    padding: 10px 12px;
    left: 50%;
    margin: 0 0 0 -110px;
    border: 1px solid #c4c4c4;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background: #f3f3f3;
    color: $tooltip-color;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    display: none;
    z-index: 3000;
  }

  .arrow {
    position: absolute;
    width: 24px;
    height: 25px;
    background: url(https://www.palottery.state.pa.us/App_Themes/PALotteryAll/images/arrow-16.png) no-repeat 50% 0;
    text-indent: -9999px;
    direction: ltr;
    overflow: hidden;
    bottom: -24px;
    left: 50%;
    margin: 0 0 0 -12px;
  }

  .date-bar {
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: 0 1px 0 #6e6e6e;
    text-align: left;
    font-size: 15px;
    line-height: 17px;
    margin: 0 0 12px;
  }
}

.game-list .tooltip .date-bar .link {
  float: right;
}
.game-list .tooltip .date-bar .date {
  font-style: normal;
}
.container .game-list .tooltip p {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
}

.game-list .tooltip a.link {
  display: block;
  clear: both;
}
.game-list .tooltip span.dayorevening {
  display: inline-block;
  padding-left: 10px;
}

@media only screen and (max-width:1019px) {
  .area .game-list {
    left: -11px;
    margin-right: -20px;
    padding-bottom: 39px;
  }
}

@media only screen and (max-width:767px) {
  .area .game-list>li {
    width: 217px;
  }
  .area .game-list>li>a {
    width: 209px;
    height: 113px;
  }
  .area .game-list {
    padding-bottom: 5px;
  }
}

.game-list {
  padding: 0 0 0 0;
  text-align: left;
}

#page-content .game-list-landing {
  list-style: none;
  margin: auto 0 0 auto;
  padding: 0;
  text-align: center;
}
#page-content .game-list-landing>li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 30px 0;
  position: relative;
  width: 219px;
}
#page-content .game-list-landing>li>a {
  font-size: 12px;
}
#page-content .game-list-landing>li>a.btn-games-logo {
  display: block;
}
#page-content .game-list-landing>li>a.btn-games-howtoplay {
  float: right;
}
#page-content .game-list-landing>li>a img {
  border: 1px solid #e9eaea;
  display: block;
  margin-bottom: 4px;
}

