// instantGame
//
// PA Lottery Active Game List Object for the Scratch-Off Revamp
//
// Markup: ../components/instantGame.hbs
//
// **Requires instantGame.js**
//
// **Due to the nature of the original image the image will not work in any environment except for the one that is calling the image. Such as if in dev, the iframe must be in dev.**
//
// **Currently not resizing the iframe upon page size changes because it would require redrawing the iframe every time**
//
// **Using table-global component which is a component that will require future updates (as we find more use cases)**
//
// Style guide: Components.instantGame


#instant-game .instant-game { // ID WILL NEED REMOVED WHEN FONT STYLES ARE MADE GLOBAL. Overwriting #page-content styles on headings
    p, h2, h3, h4, a {
        padding: 0;
        margin: 0 0 25px;
        color: $dark-gray;
    }

    h2 { // These line heights probably can be removed once the global h2 tag is cleaned up. currently this h2 tag is larger than the line height, and in mobile rendering it causes it to be cut off or very close together
        line-height: 1.2;

        sup {
            line-height: 0;

            @media (min-width: 769px) {
                line-height: 1;
            }
        }

        @media (min-width: 769px) {
            line-height: 22px;
        }
    }

    h3 {
        color: $green;
        font-size: 18px;
        margin: 30px 0 20px;
        font-weight: 700;
    }

    a {
        display: block;
        color: $green;
        line-height: 1;
    }

    p {
        a {
            display: inline;
        }
    }

    td, th {
        padding: 10px 0 10px 15px;
    }

    .table-global { //overclassified to have a different margin than global table
        margin: 0 0 6px;
        font-size: 16px;
    }

    .instant-games-games-info {
        a {
            display: inline;
            border-right: 1px solid black;
            padding: 0 6px 0 0;

            i {
                display: none;
            }

            &:last-child {
                border-right: none;
                padding: 0;
            }
        }
    }
}

#ticket-contain { // left as a ID due to how the original JS for the project works
    text-align: center;
    margin: 20px 0;
    padding: 0 15px;

    @media (min-width: 769px) {
        text-align: left;
        padding: 0;
    }
}