.logo-area {
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}

.logo {
  background: url(/App_Themes/PALotteryAll/images/logo.png) no-repeat;
  text-indent: -9999px;
  direction: ltr;
  margin: 0 auto;
  background-size: cover;
  width: 115px;
  height: 125px;

  @media (min-width: 768px) {
    width: 135px;
    height: 146px;
  }

  @media (min-width: 1020px) {
    width: 151px;
    height: 170px;
  }

  a {
    height: 100%;
    display: block;
  }
}
