// onsert
//
// PA Lottery Onsert - Box including image, title, description, and a possible second chance icon
//
// Container with flex and row class is assumed to be the parent of the minor items, does not need to be included with the actual component
//
// Markup: ../components/onsert.hbs
//
// .second-chance-on - Turns on second chance eligable text / image
// .no-title - turns off h tags of children
//
// Style guide: Components.onsert

.onsert{ 
    background: $dark-green;
    margin: 10px 0;
    flex: 1 0 100%; // decided to use this in conjuction of assuming the parent has flex and row as classes making it a flex with row-wrap -- this gives us a lot more control while also being a cleaner solution, the only downside is its the parent has to have the classes above (flex and row)

    &.second-chance-on {
        .second-chance{ // overclassified to stop the other components using this particular part of the code - the specific values here should only be used by onsert. The base global styles show / hide the component
            display: flex; // Displayed flex here over class flex due to it appearning and disappearing as needed

            @include respond(desktop){
                position: absolute;
                bottom: 10px;
                width: 100%; // Fixes ie10 placement of the second-chance text
                justify-content: center; // Fixes ie10 placement of the second-chance text
                text-align: center; // Fixes ie10 placement of the second-chance text
                left: 0; // Fixes ie10 placement of the second-chance text
            }
        }

        @include respond(desktop){
            &::before {
                content: '';
                background: url("/PaLotteryWebSite/media/Page-Images/scratch-off/logo_secondChance.png");
                background-size: cover;
                width: 30px;
                height: 30px;
                position: absolute;
                right: -6px;
                top: -6px;
            }
        }
    }

    @media (min-width: 769px) {
        flex: 0 0 48%;
        margin: 0 0 10px;
    }

    @include respond(desktop){
        flex: 0 0 32.333333%;
        position: relative; //Locks the hover effect of the text onto the individual onsert

        &:hover {
            .onsert-text { // Overqualified to make sure the animation applies at the same time as the ::before and a bit cleaner reading the code wise to make related hovers exist together
                animation: fadein 0.5s forwards;
            }
            
            &::before {
                animation: fadeout 0.5s forwards;
            }
        }
    }
}

.onsert-image {
    width: 50%;
    min-width: 130px; // stops mobile from being too small
    line-height: 0; // Fixes div from pushing bottom with pre-assumed line heights
    
    img {
        width: 100%;
    }

    @include respond(mobile){
        max-width: 223px; // stops mobile from making it too big and gives text a bit more space to work with
    }

    @include respond(desktop){
        width: 100%;
    }
}

#onsert .onsert-text { // ID WILL NEED REMOVED WHEN FONT STYLES ARE MADE GLOBAL. Specifically this one is getting used to overwrite p and h3 styles on page content. 
    min-width: 170px; // stops it from breaking at minimum screen sizes
    padding: 10px 8px;
    flex: 1; // stops browsers from choosing which elements increase the flex box size by default
    flex-direction: column;

    a {
        color: #ffffff;

        &:hover {
            text-decoration: none;
        }
    }

    p, h3 { // Overwriting base site styles & browser defaults and removes ambiguity on how browsers should handle this -- necessary due to the changing nature of the text within a limited height container
        padding: 3px 0;
        margin: 0;
        line-height: 1.2; 
        text-align: center;
    }

    h3 {        
        font-size: 24px;
        font-weight: 700;
        width: 100%; // fix ie 11 issues with text not wrapping
        
        @media (min-width: 375px) {
            font-size: 18px;
        }

        @media (min-width: 470px) {
            font-size: 24px;
        }

        @media (min-width: 650px) {
            font-size: 30px;
        }

        @media (min-width: 769px) {
            font-size: 14px;
        }

        @media (min-width: 950px) {
            font-size: 18px;
        }

        @include respond(desktop){
            margin-bottom: 10px;
        }
    }

    p {
        font-size: 18px;
        
        @media (min-width: 470px) {
            font-size: 20px;
        }

        @media (min-width: 650px) {
            font-size: 24px;
        }

        @media (min-width: 769px) {
            font-size: 11px;
        }

        @media (min-width: 950px) {
            font-size: 14px;
        }                
    }

    &:before, &:after { // IE 10/11 fix to make space-between work like space-evenly which is not natively supported by it
        content: '';
        display: block;
    }

    @media (min-width: 769px) {
        min-width: auto; // Saves text from breaking off at sizes close to mobile / table resolution changes
    }

    @include respond(desktop){
        opacity: 0;
        position: absolute;
        left: 0; // ie fix to make sure the text is in the proper spot
        top: 0; 
        z-index: 1;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        background: rgba(2, 102, 61, 0.9);
        justify-content: center; //over qualified to make sure its justify-content is set to center getting around global around class that was used in the original build of the mobile-first design pattern
    }
}

.second-chance-image {
    display: block; // IE 10 needs this to properly recognize the size and place it appropriately in the flex container
    width: 24px;
    height: 24px;
    margin-right: 5px;

    &::before {
        content: '';
        background: url("/PaLotteryWebSite/media/Page-Images/scratch-off/logo_secondChance.png");
        background-size: cover;
        width: 24px;
        height: 24px;
        display: block;
    }
}

.second-chance-text {
    display: block; // IE 10 fix to make sure it doesn't force it inline
    font-size: 16px;
    width: 120px; // Width method is a bit ugly, but it makes sure the desired effect between browsers is similar to each other

    @media (min-width: 650px) {
        font-size: 20px;
        width: 146px;
    }

    @media (min-width: 769px) {
        font-size: 10px;
        width: 72px;
    }

    @media (min-width: 950px) {
        font-size: 12px;
        width: 90px;
    }

    @include respond(desktop){
        width: 170px;
        font-size: 14px;
    }
}

#onsert .second-chance .second-chance-text{ // ID WILL NEED REMOVED WHEN FONT STYLES ARE MADE GLOBAL. Id is used here to overwrite the regular onsert. Was needed for IE 10 / 11 that read the id onserts text-align center and overwrote this. Works as expected in other browsers without the id
    text-align: left;
}