// pagination
//
// PA Lottery new pagination for tables and possible other use cases
//
// At least two different versions of pagination exist. This is built to work for both of them. First one is clean, 2 and 3 are versions on staging
//
// Markup: ../components/pagination.hbs
//
// Style guide: Components.pagination

.table-pagination {
	margin: 10px auto;
	border: 1px #B4B4B4 solid;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 5px 0;

	a {
		padding: 6px 12px;
		font-size: 16px;
		font-weight: 700;
		display: block; // Stops IE from assuming its inline and giving them less width than they need to have
		line-height: 1;

		&.current, &.active { // the tool being used to generate this makes the class current, the other version uses active
			color: $dark-gray;
			font-weight: 400;
		}

		&:hover {
			text-decoration: none;

			@include respond(desktop){
				text-decoration: none;
				color: $dark-gray;
				cursor: pointer;
			}
		}
		
		&:focus {
			outline: none; // removes focus outline for this specific area.
		}
		
		@media (min-width: 375px) {
			padding: 6px 15px;
		}
	}

	& > .paginate_button { // Targets version 2 arrow buttons, gets rid of secondary arrows from version 3
		font-family: Font Awesome\ 5 Pro;
		color: transparent;
		font-size: 1px;
		letter-spacing: -1px;

		&:before {
			font-size: 16px;
			visibility: visible;
			color: $dark-gray;
			line-height: 1;
		}
	}

	& > a { // Over specifying these because one version uses nested divs and the other one doesn't. But when the with was built these classes were added in the backend. These selectors activating on the original version leaves a blank box due to difference of font families, if that was fixed it leaves double arrows.

		&.first {
			&:before {
				content: "\f100";
			}
		}

		&.previous {
			border-left: 1px solid #B4B4B4;

			&:before {
				content: "\f104";
			}
		}

		&.next {
			border-right: 1px solid #B4B4B4;

			&:before {
				content: "\f105";
			}
		}

		&.last {
			&:before {
				content: "\f101";
			}
		}
	}

	.previous, .next {
		padding: 6px 13px;

		@media (min-width: 375px) {
			padding: 6px 15px;
		}
	}
	
	i {
		color: $dark-gray;	
		width: 8px; // compensates for the extra size added by the nbsp that kentico automatically adds to empty tags -- affects next and prev
	}

	span, .page-numbers {
		display: inline-flex; // only here because I can't guarentee the children are going to have the inline-flex class with the way its built backend wise

		a {
			border-right: 1px #B4B4B4 solid;
	
			&:first-child {
				border-left: 1px #B4B4B4 solid;
			}
		}
	}

	@media (min-width: 769px) {
    	margin: 1% 0 1% auto;
	}
}

.page-arrows {
	i {
		width: 12px; // compensates for the extra size added by the nbsp that kentico automatically adds to empty tags, and also matches up with the non i version of the arrow on pagination 2 -- affects first and last
	} 
}