.promo-slides {
  position: relative;
  margin: 0 0 25px 0;
  width: 292px;
  padding: 0 0 0 9px;

  @media (max-width: 767px) {
    display: none;
  }

  .frame {
    position: relative;
    overflow: hidden;
    width: 272px;
    height: 250px;
    background: #18517e;
    border: 5px solid #a5a5a5;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 99999px;
      overflow: hidden;
    }

    li {
      float: left;
      width: 272px;
      height: 250px;
      padding: 0;
      text-align: center;
    }

    a {
      display: block;
      height: 250px;
    }
  }

  img {
    margin: 0 0 15px;
  }

  h3 {
    font-size: 36px;
    line-height: 1;
    color: #fff;
    text-transform: none;
    letter-spacing: -1px;
    margin: 0 0 40px;
  }

  .btn-prev,
  .btn-next {
    position: absolute;
    top: 110px;
    text-indent: -9999px;
    direction: ltr;
    overflow: hidden;
    background: url(https://www.palottery.state.pa.us/App_Themes/PALotteryAll/images/arrow-14.gif) no-repeat;
    width: 13px;
    height: 24px;
  }

  .btn-prev {
    left: 0;
  }

  .btn-next {
    background-position: 0 -30px;
    right: 0;
  }

  .pagination {
    text-align: center;
    padding: 4px 4px 0 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
    }

    li {
      padding: 0 4px 0 5px;
    }

    a {
      display: block;
      text-indent: -9999px;
      direction: ltr;
      overflow: hidden;
      width: 13px;
      height: 13px;
      border-radius: 6px;
      background: #e5e5e5;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset;
    }

    .active a,
    a:hover {
      background: #4e4e4e;
    }
  }
}
