// Backgrounds 

//desktop web
@media only screen and (min-width:1020px) {
    #sc-login-harley {
        background: url('https://dev.v8.palottery.state.pa.us/PaLotteryWebSite/media/PA-Lottery-All/bg-monopoly_2nd_chance-desktop.jpg');
    }
}

//tablet web
@media only screen and (max-width:1019px) {
    #sc-login-harley {
        background: url('https://dev.v8.palottery.state.pa.us/PaLotteryWebSite/media/PA-Lottery-All/bg-monopoly_2nd_chance-tablet.jpg');
    }
}

//mobile web
@media only screen and (max-width:768px) {
    #sc-login-harley {
        background: url('https://dev.v8.palottery.state.pa.us/PaLotteryWebSite/media/PA-Lottery-All/bg-monopoly_2nd_chance-mobile.jpg');
    }
}

.sc-login-mobile {
  display:none;
}

.sc-note {
  color: #61656b;
  font-size: 11px;
  margin: 10px 0;
  padding: 0 0 0 60px;
}

.sc-note img {
  display:block;
  float:left;
  margin: 0 10px 10px 0;
}

div#sc-login-harley {
  background-image: url(/App_Themes/PALotteryAll/images/second-chance/bg-lotsoluck-desktop.jpg);
  background-repeat: no-repeat;
  min-height: 931px;
  position:relative;
  width:719px;
}

#sc-main-nav {
  left: 1px;
  list-style:none;
  margin:0;
  padding:0;
  position:absolute;
  top:186px;
  text-transform: uppercase;
}

#sc-main-nav li {
  float:left;
  position: relative;
  font-size: 12px;
  margin-right: 9px;
}

/*#sc-main-nav li:not(:first-child)::after {
content: '';
background-color: #3f0d57;
width: 2px;
position: absolute;
top: 2px;
bottom: 2px;
left: -6px;
}
*/
#sc-main-nav li a {
  color: #963644;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  padding: .3em; 
  margin: 0;
  text-transform: none;
}

#sc-main-nav li a:hover {
  color: #119b5c;
  text-decoration: none;
  padding: .3em;
}

#sc-login-form {
  left:60px;
  position:absolute;
  top:313px;
}

#sc-login-form td {
  color:#333;
  font-size:11px;
  padding:3px;
}

#sc-login-form td label {
  font-size:12px;
  font-weight:bold;
}

#sc-login-form td a {
  color:#333;
  font-size:11px;
  text-decoration:underline;
}

#sc-login-form td input[type='text'],
#sc-login-form td input[type='password'] {
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  border:1px solid #333;
  font-size:11px;
  padding:2px;
}

#sc-login-form td input[type='text'] {
  width:146px;
}

#sc-login-form td input[type='password'] {
  width:140px;
}

#sc-login-info-message {
  color: #333;
font-size: 12px;
width: 500px;
margin-top: 15px;
}

#perks-container {
  top:455px;
  left:40px;
  position:absolute;
}


#sc-login-register-message {
  color:#01590d;
  font-size:20px;
}
#sc-login-register-message a {
  color:#01590d;
  text-decoration:underline;
}

#perks-title {
  font-size:12px;
}

#perks {
  margin:0 15px 0 0;
  padding:0;
}

#page-content ul#perks li {
  font-size:12px;
  margin: 0 0 6px 20px;
}

#sc-footer-nav {
color: #000;
line-height: 20px;
list-style: none;
margin: 0 0 0 6px;
padding: 0;
position: absolute;
top: 635px;
text-align: center;
width: 700px;
}

#new-footer-links {
color: #fff;
line-height: 20px;
list-style: none;
margin: 0 0 0 125px;
padding: 0;
position: absolute;
top: 640px;
text-align: center;
width: 468px;
}

#sc-footer-nav li {
  color:#000;
  display:inline;
  background-position: center right;
  background-repeat:no-repeat;
}

#sc-footer-nav li a {
  color: #fff200;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  padding: .5em; 
  margin: 0;
  
}

#sc-footer-nav li a:hover {
  color: #fc0;
  text-decoration: none;
  padding: .5em;
}

#sc-footer-nav li.last {
  background-image:none;
}

#new-footer-links li {
  color: #fff200;
  display:inline;
  background-position: center right;
  background-repeat:no-repeat;
  margin-right: 12px;
  position: relative;
}

#new-footer-links li:not(:first-child)::after {
content: '';
background-color: #fffaec;
width: 2px;
position: absolute;
top: 2px;
bottom: 2px;
left: -9px;
}

#new-footer-links li a {
  color: #fffaec;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  padding: .5em; 
  margin: 0;
}

#new-footer-links li a:hover {
  color: #fc0;
  text-decoration: none;
  padding: .5em;
}

#new-footer-links li.last {
  background-image:none;
}

#page-content #sc-game-info {
  line-height: 14px;
  margin: 20px 50px;
}

#sc-disclaimer {
  color:#61656b;
  font-size:11px;
  line-height:18px;
  padding: 16px 0 0 0;
  text-align:center;
  position: absolute;
  top: 710px;
}

#sc-disclaimer-mobile {
  color:#61656b;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  position: absolute;
  top: 710px;
  display: none;
}

#btn-app {
  display:block;
position:absolute;
top: 250px;
left: 413px;
}

.scpz_button_container {
  display: none;
  }

.scpz_button {
display: inline-block;
vertical-align: top;
position: relative;
overflow: hidden;
min-width: 221px;
line-height: 1.5;
padding: 0 17px;
font-size: 12px;
font-weight: 700;
color: #000;
text-align: center;
text-decoration: none;
text-shadow: 0 1px #154c86;
background-color: #fff;
background-clip: padding-box;
border: 3px solid;
border-color: #8bc43a #8bc43a #8bc43a;
border-radius: 20px;
-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), #fba419 50%, #fba419 51%, #fba419);
}
.scpz_button:before {
content: '';
position: absolute;
top: -25%;
bottom: -25%;
left: -20%;
right: -20%;
border-radius: 50%;
background: transparent;
-webkit-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
}
.scpz_button:hover {
background-color: #fff;
text-decoration: none;
}

.scpz_button-green {
color: #000;  
text-shadow: 0 1px #000;
background-color: #fff;
border-color: #fba419 #fba419 #fba419;
}
.scpz_button-green:hover {
background-color: #fff;
}


@media only screen and (max-width: 1019px) {

.scpz_button_container {
  display: none;
  }

.sc-login-mobile {
  display:none;
}


#btn-app {
top: 488px;
left: 122px;
}


  .sc-note {
    padding: 0 0 0 0;
}
  div#sc-login-harley {
background-image: url(/App_Themes/PALotteryAll/images/second-chance/bg-lotsoluck-tablet.jpg);
width: 530px;
left: -20px;
min-height: 1105px;
}
  #sc-main-nav {
left: 8px;
top: 176px;
text-align: center;
width: 508px;
line-height: 20px;
}

  #sc-main-nav li {
    background-image:none;
    float: none;
    display: inline;
    padding: 0 6px;
    margin-right: 0;
  }

#sc-main-nav li:nth-child(6)::after,
#sc-main-nav li:nth-child(7)::after,
#sc-main-nav li:nth-child(8)::after,
#sc-main-nav li:nth-child(9)::after,
#sc-main-nav li:nth-child(10)::after {
background-color: transparent;
}

  #sc-login-form {
left: 110px;
top: 331px;
}
  
#sc-login-info-message {
left: 100px;
top: 485px;
width: 330px;
}
  
  
  #perks-container {
top: 675px;
left: 8%;
position: absolute;
width: 84%;
}

#sc-vip-perks-link {
color: #3d3d3d;
font-weight: 600;
}
  
  #sc-login-register-message {
      width:360px;
  }
  
  #sc-footer-nav {
margin: 0 0 0 27px;
top: 893px;
width: 461px;
line-height: 22px;    
}

#new-footer-links {
top: 902px;
left:-93px;
width:468px;  
  }

  #page-content #sc-game-info {
  line-height: 14px;
  margin: 20px 0;
  width: 500px;
  }
  #sc-disclaimer {
      text-align: center;
      width: 515px;
      position: absolute;
      top: 991px;
  }
}

@media only screen and (max-width: 767px) {

.scpz_button_container {
  display: block;
  position: absolute;
  top: 176px;
  left: 39px;
  }  

#page-content .sc-login-mobile {
display: block;
position: absolute;
width: 86%;
top: 240px;
left: 20px;
}
#page-content .sc-login-mobile label {
font-weight: bold;
text-align: left;
font-size: 12px;
color: #343434;
line-height: 2.5;
}

#page-content .sc-login-mobile input[type=text], 
#page-content .sc-login-mobile input[type=password] {
width: 100%;
height: 35px;
border: 1px solid #bfbfbf;
margin-bottom: 3%;
  padding:0;
border-radius: 0;
}




#page-content .sc-login-mobile #forgot {
float: left;
padding-top: 2%;
}



#page-content .sc-login-mobile #login {
float: right;
width: 45%;
}
#page-content .sc-login-mobile .redBtn {
border-radius:0;
-webkit-border-radius:0;
text-decoration: none;
overflow: hidden;
margin: 0;
padding: 10px 24px;
border-style: none;
display: block;
font-size: 14px;
color: #fff;
font-weight: normal;
-webkit-box-shadow: 0 1px 2px #757554;
box-shadow: 0 1px 2px #757554;
text-shadow: 0 2px 1px #6a6a6a;
width: 100%;
text-align: center;
background: #e11f26;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,#e11f26 0,#e01f26 36%,#d21f25 53%,#ae1e23 85%,#a31e22 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e11f26),color-stop(36%,#e01f26),color-stop(53%,#d21f25),color-stop(85%,#ae1e23),color-stop(100%,#a31e22));
background: -webkit-linear-gradient(top,#e11f26 0,#e01f26 36%,#d21f25 53%,#ae1e23 85%,#a31e22 100%);
background: -o-linear-gradient(top,#e11f26 0,#e01f26 36%,#d21f25 53%,#ae1e23 85%,#a31e22 100%);
background: -ms-linear-gradient(top,#e11f26 0,#e01f26 36%,#d21f25 53%,#ae1e23 85%,#a31e22 100%);
background: linear-gradient(to bottom,#e11f26 0,#e01f26 36%,#d21f25 53%,#ae1e23 85%,#a31e22 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e11f26',endColorstr='#a31e22',GradientType=0);
}


#btn-app {
top: 484px;
left: 71px;
}
#btn-app img {
width: 160px;
  display: none;
}
  #page-content #sc-login-content {
      line-height:normal;
  
  }
  
  #page-content #perks-title {
      line-height:normal;
  display: none;
  }
  div#sc-login-harley {
background-image: url(/App_Themes/PALotteryAll/images/second-chance/bg-lotsoluck-mobile.jpg);
width: 339px;
min-height: 625px;
margin: 0 auto;
}
  
  #sc-main-nav {
left: 3px;
line-height:1.75;
top: 104px;
width: auto;
right: 3px;
}
  #sc-main-nav li {
      padding: 0 1px;
  }

  #sc-main-nav li:not(:first-child)::after {
    left: -3px;
    width: 1px;
  }

  #sc-main-nav li a {
      font-size: 10px;
  }
  #sc-login-form td label {
      font-size:11px;
  }
  #sc-login-form {
left: 30px;
top: 244px;
display: none;
}
  #page-content p#sc-login-info-message {
left: 33px;
top: 424px;
width: 80%;
line-height: normal;
  display: none;
}
  
  #perks-container {
left: 31px;
top: 395px;
width: 90%;
 // display: none;
}
  
  #sc-login-register-message {
      font-size:16px;
      width: 90%;
      display: none;
  }

#sc-vip-perks-link {
      display: none;
  }
  
  #sc-footer-nav {
margin: 0;
top: 467px;
left: 8px;
width: 310px;
line-height: 16px;
}

#new-footer-links {
top: 444px;
left: -190px;  
  }

  #new-footer-links li:not(:first-child)::after {
    width: 1px;
    top: 5px;
  }

  #page-content #sc-game-info {
  line-height: 14px;
  margin: 20px 0 0 0;
  width: 405px;
  }
  #page-content #sc-game-info img {
      margin-bottom:40px !important;
  }
#sc-footer-nav li {
color: #fff;
margin-right: 0px;
}
  #sc-footer-nav li a {
color: #fff;
font-size: 10px;
font-weight: 500;
text-decoration: none;
text-shadow: none;
margin-right: 7px;    
}
#new-footer-links li a {
  font-size: 10px;
  }

  #sc-disclaimer {
      margin-left: -15px !important;
      text-align: left;
      width: 404px;
      display: none;
  }

  #sc-disclaimer-mobile {
      display: inline;
      position: absolute;
      top: 570px;
  }
  
  #sc-login-form td input[type='text'] {
width: 100px;
}

#sc-login-form td input[type='password'] {
width: 94px;
}

#page-content ul#perks li {
  margin:0 0 6px 20px;
  display: none;
}
  
}