#sb-logo-contain {
  display: inline-block;
  margin-right: 8px;
  width: 80px;
  background-color: #fff;
  border-radius: 30px;
  padding: 2%;
  text-align: center;

  img {
    vertical-align: middle;
    width: 90%;
  }
}

#sb-description {
  color: #000;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  margin-right: 0;

  strong {
    display: block;
  }
}

#sb-tryit img {
  display: block;
  float: right;
  margin-right: 5px;
  margin-top: 25px;
  width: 100px;
}
