// tables
//
// PA Lottery Active Game List Object for the Scratch-Off Revamp
//
// Markup: ../components/tables.hbs
//
// Classes done in such away to allow easier customization to them in the future
//
// Current minimal requirements for the new global table style
//
// .sorting - Lets the column know its able to be sorted and preps the items within it as necessary. Required for Asc and Dec
//
// .dec - Decending arrow for sorting
//
// .asc - Ascending arrow for sorting
//
// .new - Turns on new tag for td's
//
// Instead of letting handle bars handle the use case I decided to leave it as a regular table with examples to give a more clear point of what is expected.
//
// table-disclaimer is not a part of the main component, but is used with the intention of a paragraph under a table. See instantGames component table for a example
//
// Style guide: Components.tables

.table-global {
    color: $black;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 12px; // This property may need set for any table within a component to account for number of columns, this is assuming there is 5 columns and may not match every design
    margin: 10px 0;
    border: 1px solid #009C5C;
    background: $green; // Set background here to help with how the phone zoom / meta tags affect seperation of table columns

    a {
        color: $dark-green;
        font-weight: 700; // Helps IE 10 determine how big the font is, otherwise it sets it to bold which is slightly bigger and broke the table headings in scratch offs when setting hard sizes
    }
    
    thead {
        color: #ffffff;
    }

    td, th {
        padding: 10px 5px;

        @media (min-width: 375px) {
            padding: 15px 5px;
        }

        @media (min-width: 769px) {
            padding: 15px 7px;
        }

        @media (min-width: 1023px) {
            padding: 15px 9px;
        }
    }

    th {
        line-height: 1.1;
        text-align: left; // Ie 10 automatically assumed we wanted centered heads and left aligned rows
        font-weight: 700;
    }

    td {
        line-height: 1.2;
        border-right: 1px solid $green;
        border-bottom: 1px solid $green;
    }

    tbody tr { // Nested the TR in TBody to ensure it did not affect thead which is using the background of the table for its background
        &:nth-child(odd) {
            background: #f7f7f7;
        }
        &:nth-child(even) {
            background: $secondary-green;
        }
    }

    .new-tag { // table specific changes on the new-tag adopted from activeGames li allowing it to be placed above the game number without overlapping the game name.
        top: 14px;
        left: 0;
        position: absolute;

        @media (min-width: 769px) {
            left: -15px;
        }
    }
        
    .new {
        position: relative;
        padding: 5px 5px; // padding needs to be resized with the regular td padding chages. Needs to be redone here otherwise new tag adds a bit of extra padding to table cells

        .new-game{
            line-height: 8; // using lineheight so it remains vertically aligned in the middle, but does not effect other row heights more than it needs to. Sets up for new tag aligned to the top but not overlapping the name if not much content exists.
            
            @media (min-width: 769px) {
                line-height: 6;
            }
        }

        @media (min-width: 769px) {
            padding: 5px 7px;
        }

        @media (min-width: 1023px) {
            padding: 5px 9px;
        }
    }

    .second-chance {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin: -2px 0 0 5px;

        @include respond(desktop){
            &:hover {
                .hover-tooltip {
                    display: block;
                }
            }
        }
    }


    // Individual sizes for table columns to help game name be the maximum size it can be. These are for scratch off tables. The current use case is assuming the site is still using the zoom functionality on mobile, may appear different in the style guide due to this so I did not add the classes these effect within the hbs file.
    .gameNumber {
        width: 65px;

        @media (min-width: 769px) {
            width: 82px;
        }
    }

    .gameOnSale {
        width: 48px;

        @media (min-width: 769px) {
            width: 62px;
        }
    }

    .gamePrice {
        width: 52px;

        @media (min-width: 769px) {
            width: 65px;
        }
    }

    .endSale {
        width: 63px;

        @media (min-width: 769px) { 
            width: 82px;
        }
    }

    .lastDate {
        width: 75px;

        @media (min-width: 769px) {
            width: 93px;
        }

        @media (min-width: 1023px) {
            width: 184px;
        }
    }

    .prizeValues {
        width: 68px;

        @media (min-width: 769px) {
            width: 87px;
        }
    }

    .remainingWinners {
        width: 117px;

        @media (min-width: 769px) { 
            width: 153px;
        }
    }
    // End scratch off tables column sizes


    @media (min-width: 769px) { 
        margin: 0 0 20px;
        font-size: 16px;
    }
}

.sorting-arrows {
    display: none;

    i {
        display: none; // setting all elements as display none to help allow maximum future customization for asc and dec use cases.
        line-height: 0.6;
    }
}

.sorting, .sorting_desc, .sorting_asc { // ensures the sorting arrows show up on all versions while setting up future functionality with sorting arrows such as color changes to arrows or single arrows. Sorting is used on fast play, but none of the other classes are, needs to be carefully changed until all tables adopt the global table styles.
    .title {
        position: relative;
        top: -3px;
    }

    .sorting-arrows {
        display: inline-block;
        margin-left: 3px;
    }

    &.asc {
        .fa-caret-up {
            display: block;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &.dec {
        .fa-caret-down {
            display: block;
        }
    }
}

.table-disclaimer {
    font-weight: bold;
    margin-bottom: 20px;
}

.table-footnote {
    margin-top: 30px;

    .second-chance { // Left these as separate incase use case ever changes. and extra styles applied compared to other use cases
        display: inline-block;
        width: 30px;
        vertical-align:middle;
    }

    .closing-soon {
        display: inline-block;
        width: 30px;
        vertical-align: middle;
    }
}