.vip-area {
  box-shadow: 0 0 10px rgba(216, 31, 37, 0.6);
  border-radius: 5px;
  background: #faf9b2;
  display: flex;
  margin: 0 0 50px;

  .aside {
    width: 190px;
    background: #568a42;
    box-shadow: -1px 0 1px rgba(0, 0, 0, 0.5) inset;
    padding: 0;

    .vip-club-logo {
      display: block;
      text-indent: -9999px;
      direction: ltr;
      overflow: hidden;
      background: url(https://www.palottery.state.pa.us/App_Themes/PALotteryAll/images/logo-vip-club.png) no-repeat;
      width: 184px;
      height: 165px;
      margin: 0 0 0 2px;
      a {
        display: block;
        height: 100%;
      }
    }
    .menu ul {
      list-style: none;
      margin: 0;
      padding: 5px 0 0;
    }
    .link-sections {
      display: none;
    }
    .menu {
      li {
        vertical-align: top;
        border-bottom: 1px solid #72a45e;
        box-shadow: 0 -1px 0 #437231 inset;
        padding: 0 0 1px;
        font-size: 14px;
        line-height: 18px;
        a {
          color: #fff;
          position: relative;
          display: block;
          padding: 13px 2px 12px 10px;
        }
        &.active a:hover,
        a:hover,
        &.active a {
          background: linear-gradient(to bottom, rgba(214, 29, 35, 1) 0, rgba(214, 27, 34, 1) 2%, rgba(221, 32, 39, 1) 2%, rgba(225, 31, 39, 1) 2%, rgba(225, 31, 39, 1) 35%, rgba(222, 31, 38, 1) 36%, rgba(222, 31, 38, 1) 40%, rgba(210, 31, 37, 1) 54%, rgba(207, 30, 36, 1) 55%, rgba(207, 30, 38, 1) 57%, rgba(204, 31, 37, 1) 57%, rgba(200, 31, 36, 1) 64%, rgba(194, 31, 34, 1) 67%, rgba(194, 31, 36, 1) 69%, rgba(191, 30, 36, 1) 70%, rgba(186, 29, 36, 1) 76%, rgba(183, 30, 35, 1) 77%, rgba(179, 30, 36, 1) 83%, rgba(176, 29, 35, 1) 84%, rgba(174, 31, 37, 1) 89%, rgba(173, 30, 36, 1) 90%, rgba(170, 30, 33, 1) 91%, rgba(169, 30, 35, 1) 96%, rgba(166, 30, 34, 1) 96%, rgba(166, 31, 35, 1) 98%, rgba(157, 26, 31, 1) 98%, rgba(157, 28, 32, 1) 100%);
          box-shadow: 0 0 2px #a1161b inset;
        }
        a {
          &.CMSListMenuLinkHighlighted {
            background: linear-gradient(to bottom, rgba(214, 29, 35, 1) 0, rgba(214, 27, 34, 1) 2%, rgba(221, 32, 39, 1) 2%, rgba(225, 31, 39, 1) 2%, rgba(225, 31, 39, 1) 35%, rgba(222, 31, 38, 1) 36%, rgba(222, 31, 38, 1) 40%, rgba(210, 31, 37, 1) 54%, rgba(207, 30, 36, 1) 55%, rgba(207, 30, 38, 1) 57%, rgba(204, 31, 37, 1) 57%, rgba(200, 31, 36, 1) 64%, rgba(194, 31, 34, 1) 67%, rgba(194, 31, 36, 1) 69%, rgba(191, 30, 36, 1) 70%, rgba(186, 29, 36, 1) 76%, rgba(183, 30, 35, 1) 77%, rgba(179, 30, 36, 1) 83%, rgba(176, 29, 35, 1) 84%, rgba(174, 31, 37, 1) 89%, rgba(173, 30, 36, 1) 90%, rgba(170, 30, 33, 1) 91%, rgba(169, 30, 35, 1) 96%, rgba(166, 30, 34, 1) 96%, rgba(166, 31, 35, 1) 98%, rgba(157, 26, 31, 1) 98%, rgba(157, 28, 32, 1) 100%);
            box-shadow: 0 0 2px #a1161b inset;
          }
          &:hover {
            text-decoration: none;
          }
        }
        ul {
          a:hover,
          li a.CMSListMenuLinkHighlighted {
            font-weight: normal;
            color: #4d4d4d;
            background: #dedcdc url(https://www.palottery.state.pa.us/App_Themes/PALotteryAll/images/sprite-icons.png) no-repeat -459px 8px;
            box-shadow: none;
            letter-spacing: normal;
          }
        }
        a:hover .arrow,
        &.active a .arrow {
          right: -10px;
        }
        a .arrow {
          position: absolute;
          text-indent: -9999px;
          direction: ltr;
          overflow: hidden;
          right: 9999px;
          top: 12px;
          background: url(https://www.palottery.state.pa.us/App_Themes/PALotteryAll/images/arrow-22.png) no-repeat;
          width: 13px;
          height: 22px;
          padding-bottom: 13px;
        }
      }
      ul ul {
        padding: 0;
        li {
          font-size: 12px;
          line-height: 15px;
          padding: 0;
          border-top: solid 1px #fff;
        }
        a {
          color: #4d4d4d;
          padding: 6px 26px 5px;
          font-weight: normal;
          background: #dedcdc;
          box-shadow: none;
          letter-spacing: normal;
        }
      }
      li.active ul {
        a {
          color: #4d4d4d;
          padding: 6px 26px 5px;
          font-weight: normal;
          background: #dedcdc;
          box-shadow: none;
          letter-spacing: normal;

          &:hover {
            font-weight: normal;
            color: #4d4d4d;
            background: #dedcdc url(https://www.palottery.state.pa.us/App_Themes/PALotteryAll/images/sprite-icons.png) no-repeat -459px 8px;
            box-shadow: none;
            letter-spacing: normal;
          }
        }
        li.active a {
          font-weight: normal;
          color: #4d4d4d;
          background: #dedcdc url(https://www.palottery.state.pa.us/App_Themes/PALotteryAll/images/sprite-icons.png) no-repeat -459px 8px;
          box-shadow: none;
          letter-spacing: normal;
        }
      }
    }
  }
  .vip-info {
    padding: 25px 28px 10px 30px;
    display: flex;
    justify-content: space-between;

    h3 {
      margin: 0 0 14px;
      color: #568a42;
      font-size: 24px;
      line-height: 28px;
      font-weight: normal;
    }
  }
}

.container .vip-area .vip-info p {
  margin: 0 0 17px;
}

.vip-area {
  .vip-info .heading {
    width: 100%;
    padding: 0 0 15px;
    h2 {
      margin: 0;
      font-size: 24px;
      line-height: 28px;
      color: #568a42;
      font-weight: normal;
    }
  }
  .boxes {
    width: 753px;
    margin: 0 -40px 0 0;
    .box {
      display: inline-block;
      vertical-align: top;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      background: #fff;
      margin: 0 27px 20px 0;
      border: 1px solid #cec9c9;
      .title {
        background: #568a42;
        color: #fff;
        border-radius: 4px 4px 0 0;
        padding: 12px 12px 10px;
        h3 {
          color: #fff;
          font-size: 14px;
          line-height: 16px;
          margin: 0;
          font-weight: bold;
        }
      }
      .holder {
        overflow: hidden;
        padding: 0 10px 0 0;
        width: 454px;
      }
      .info {
        padding: 7px 13px;
        float: left;
        width: 190px;
      }
      .holder .info {
        width: 195px;
      }
      .info {
        h4 {
          margin: 0 0 8px;
          font-size: 16px;
          line-height: 18px;
          color: #568a42;
        }
        .label {
          display: block;
          color: #568a42;
          font-size: 12px;
          line-height: 14px;
          font-weight: bold;
          padding: 0 0 4px;
        }
      }
      .bootom-area {
        margin: 0 0 -7px;
        font-size: 11px;
        line-height: 13px;
        text-align: right;
        padding: 0 12px 4px;
        position: relative;
        top: -11px;
        clear: left;
        a {
          color: $link-text-color;
        }
      }
    }
    .box {
      dl {
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        padding: 4px 0 0;
        color: #797979;
      }
      dt {
        color: #568a42;
      }
      dd {
        margin: 0 0 5px;
      }
    }
  }
}

.container .vip-area .boxes {
  .box {
    p {
      font-size: 12px;
      line-height: 18px;
      margin: 4px 0 0;
    }
    .facebook-area p {
      font-size: 12px;
      line-height: 14px;
    }
  }
  .facebook-area {
    overflow: hidden;
    padding: 6px 0 35px;
    .time {
      display: block;
      color: #797979;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.vip-area .boxes .facebook-area .alignleft {
  float: left;
  margin: 2px 11px 2px 0;
}

.container .vip-area .boxes .facebook-area p {
  margin: 0;
}

.vip-area {
  .boxes .facebook-area a {
    color: #1f61cd;
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }
}

.vip-area .aside .slide {
  display: none;
}

.vip-area .grey-box .title h3 {
  float: left;
  margin: 0;
}

.container .vip-area .grey-box p {
  margin-bottom: 6px;
}

.vip-area .group-content article {
  line-height: 20px;
  h3 {
    margin-bottom: 16px;
  }
}

.container .vip-area .group-content article p {
  margin-bottom: 0;
}

.vip-area .group-content .post article {
  line-height: 18px;
  padding: 12px 0;
}

.vip-area h3.title {
  margin-bottom: 23px;
  padding-top: 16px;
}

.vip-area .group-content .thank-you-message {
  color: #4d4d4d;
  text-align: center;
  margin-bottom: 7px;
  padding-top: 9px;
}

.vip-area .group-content .join-group-form p {
  margin-bottom: 18px;
}

.vip-area .group-content .invite-group-form p {
  margin-top: -9px;
  font-size: 12px;
  line-height: 15px;
}

@media only screen and (max-width: 1019px) {
  .vip-area {
    .boxes {
      width: auto;
      text-align: center;
      .box {
        text-align: left;
      }
    }
    .detail-box {
      .promo {
        float: none;
        width: auto;
        border: 0;
        text-align: center;
      }
      .table-3 {
        .col-1,
        .col-2 {
          width: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 940px) {
  .vip-area .grey-box .title h3 {
    float: none;
  }
}

@media only screen and (max-width: 767px),
screen and (device-width: 320px) {
  .container .vip-area .aside {
    position: absolute;
    right: 15px;
    top: 0;
    border-radius: 0;
    z-index: 1;
  }
  .vip-area {
    box-shadow: none;
    border-radius: 0;
    position: static;
    .aside {
      .menu li a .arrow {
        display: none;
      }
      .link-sections {
        display: block;
        position: absolute;
        right: 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        padding: 6px 2px 6px 2px;
        border-radius: 0 0 6px 6px;
        min-width: 149px;
        color: #fff;
        text-align: center;
        background: #048251;
        text-decoration: none;
        box-shadow: 0 1px 1px #999;
        cursor: pointer;
      }
    }
    .boxes .box .holder {
      width: auto;
    }
  }
  .vip-area {
    .boxes {
      margin: 0;
      .box {
        margin: 0 3px 10px;
        .holder .info,
        .info {
          width: 175px;
        }
      }
    }
    .aside .link-sections span {
      display: inline-block;
      vertical-align: top;
      padding: 0 20px 0 0;
      background: url(https://www.palottery.state.pa.us/App_Themes/PALotteryAll/images/arrow-10.png) no-repeat 100% 5px;
    }
    .expanded .link-sections span {
      background-position: 100% -57px;
    }
  }
  .vip-area {
    .aside {
      .menu,
      .slide,
      .vip-club-logo {
        display: none;
      }
      .slide {
        .menu,
        .vip-club-logo {
          display: block;
        }
      }
    }
    .boxes .box .title {
      letter-spacing: -1px;
    }
  }
}

.vip-area .group-content {
  padding: 11px 27px 10px 30px;
  img {
    max-width: 100%;
  }
  .heading {
    padding: 0 13px 14px;
  }
}

.vip-area .boxes .circle-list {
  text-align: left;
  padding: 2px 0 6px 2px;
}
.vip-area .boxes .circle-list li {
  text-align: center;
  width: 25px;
  height: 25px;
  margin: 0;
  line-height: 25px;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1) inset, 0 0 2px rgba(0, 0, 0, 0.3);
}
