/****** MASTER PAGE TEMPLATE EMBEDDED CSS *********/

// HeadHTML1 web part
.fluid {
  width: 100%;
  clear: both;
  display: block;
}

.main-content {
  padding-top: 0;
}

#c4l_logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  text-align: center;
  display: block;
}

#blue_heading {
  color: #25408f;
  text-align: center;
}

#green_heading {
  color: #2e8069;
  margin-top: -5%;
  text-align: center;
}

#date_range {
  color: #25408f;
  text-align: center;
}

#disclaimer {
  color: #25408f;
  font-weight: 800;
  padding-bottom: 20px;
  text-align: center;
}

// FastPlayHeadHTMLCode
@media only screen and (max-width: 767px),
screen and (device-width: 320px) {
  .right-gray {
    float: right;
    vertical-align: top;
  }
  .left-gray {
    float: left;
    vertical-align: top;
  }
}

// HeadHTML1
.fluid {
  width: 100%;
  clear: both;
  display: block;
}

#wrapper_2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-stretch: condensed;
  background-color: #e4eaea;
  background-image: url(/PaLotteryWebSite/media/Misc/stripe.jpg);
  padding-top: 20px;
}

#content_2 {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

#c4l_logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  text-align: center;
  display: block;
}

#blue_heading {
  color: #25408f;
  text-align: center;
}

#green_heading {
  color: #2e8069;
  margin-top: -5%;
  text-align: center;
}

#date_range {
  color: #25408f;
  text-align: center;
}

#disclaimer {
  color: #25408f;
  font-weight: 800;
  padding-bottom: 20px;
  text-align: center;
}

.slide-show .frame ul li .raffle-message {
  color: #fff;
  position: absolute;
  top: 42px;
  left: 366px;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.slide-show .frame ul li .raffle-message span {
  color: #fcec4f;
}

.slide-show .frame ul li.raffle-days .raffle-message {
  left: 366px;
}

.slide-show .frame ul li .raffle-app-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 80px;
}

@media only screen and (max-width:1019px) {
  .slide-show .frame ul li .raffle-app-link {
    height: 50px;
    width: 250px;
  }
  .slide-show .frame ul li .raffle-message {
    top: 32px;
    left: 278px;
    font-size: 30px;
  }
  .slide-show .frame ul li.raffle-days .raffle-message {
    left: 278px;
  }
}

@media screen and (max-width:767px) {
  .slide-show .frame ul li .raffle-app-link {
    height: 35px;
    width: 150px;
  }
  .slide-show .frame ul li .raffle-message {
    top: 22px;
    left: 172px;
    font-size: 20px;
  }
  .slide-show .frame ul li.raffle-days .raffle-message {
    left: 172px;
  }
}

#takeoverInsert {
  box-sizing: border-box
}

#to-lb {
  max-width: 960px;
  top: 30px;
  height: auto;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box
}

#to-lb #to-lb-close-x {
  background-color: #fff
}

#to-lb #to-lb-close-x i {
  color: #333
}

#to-lb a.to-lb_video_btn {
  background-color: #068c55;
  font-size: 24px;
  padding: 1rem;
  box-sizing: border-box;
  line-height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700
}

#to-lb a.to-lb_video_btn:hover {
  text-decoration: underline
}

#to-lb_close .closeBtn {
  margin: 0 auto!important;
  position: relative!important;
  max-width: 100%!important
}

@media screen and (max-width:768px) {
  #to-lb_video_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%)
  }
}

#to-lb_cta {
  background: #1a1a1a;
  padding: 15px 0;
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  z-index: 1
}

#to-lb_cta a {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  text-transform: uppercase;
  line-height: 100%
}

#to-lb_cta a:hover {
  text-decoration: underline
}

#to-lb_cta a#to-lb_close:hover {
  text-decoration: none
}

#to-lb_wrap {
  display: block;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 999996;
  background: rgba(30, 30, 30, .98);
  width: 100%;
  height: 100%
}

#to-lb_wrap * {
  box-sizing: border-box
}

#to-lb_bg {
  width: 100%
}

#to-lb_cta #to-lb-close-x {
  position: relative
}

#to-lb-close-x {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  height: auto;
  background: 0 0;
  text-align: center;
  box-sizing: border-box;
  width: auto;
  vertical-align: middle
}

#to-lb-close-x i {
  font-size: 24px;
  font-weight: 700;
  color: #fff
}

@media screen and (min-width:769px) {
  #to-lb-close-x i {
    background-color: transparent!important
  }
}

#to-lb-close-x #to-lb_close {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  line-height: 100%
}

#to-lb_trigger {
  position: absolute;
  top: 59%;
  width: 100%;
  height: auto;
  left: 10%
}

#to-lb_trigger iframe {
  border: none;
  width: 92%
}

@media screen and (max-width:768px) {
  #to-lb_trigger {
    position: absolute;
    top: 43%;
    width: 100%;
    height: auto;
    left: 1vw
  }
}

@media screen and (max-width:500px) {
  #to-lb_trigger {
    position: absolute;
    top: 43%;
    width: 100%;
    height: auto;
    left: 1vw
  }
}

.to-lb_mobileOnly {
  display: none
}

@media (max-width:768px) {
  #to-lb_cta {
    background: 0 0;
    height: 0;
    padding: 0;
    text-align: right
  }
  #to-lb_cta a {
    display: none
  }
  #to-lb_cta #to-lb-close-x {
    position: absolute;
    top: 0;
    right: 0
  }
  #to-lb_cta #to-lb-close-x #to-lb_close {
    text-align: right
  }
  video {
    width: 100%;
    height: 100%
  }
  .to-lb_desktopOnly {
    display: none
  }
  #to-lb_close {
    width: 70px;
    height: 70px
  }
  #to-lb_close i {
    background: #333;
    border-radius: 50%;
    padding: 5px;
    line-height: 80%
  }
  #to-lb_close i.mobNoShow {
    display: none
  }
  .to-lb_mobileOnly {
    display: block
  }
  .to-lb_mobileOnly#to-lb_bg {
    height: auto;
    width: 100%;
    margin: 0 auto
  }
  #to-lb {
    width: 100%;
    top: 0;
    max-width: 100%;
    height: 100vh
  }
}

@media (max-width:768px) and (orientation:landscape) {
  .to-lb_mobileOnly#to-lb_bg {
    width: 100vw;
    height: auto
  }
}

.rebrand {
  background-color: #86c9f7;
  margin: 0 auto;
  overflow: hidden;
  padding: 1% 1% 3% 1%;
  text-align: center;
  width: 96%;
}

.rebrand h2 {
  color: #3a3d97;
  font-size: 24px;
  font-weight: bold;
  margin: 2%;
  padding: 0;
  text-align: center;
}

.rebrand p {
  color: #000 !important;
  font-size: 22px;
  font-weight: bold;
  margin: 0 auto 0 auto !important;
  text-align: center;
  max-width: 530px;
}

.promo_wrapper {
  text-align: center;
  clear: both;
  width: 100%;
  float: left;
  display: block;
}

.winning_number_promo {
  display: block;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  width: 98%;
}

.winning_number_promo img {
  width: 100%;
}

#p_lt_zoneMain_pageplaceholder1_p_lt_zoneWinningNumbers_PaLotteryDrawingGamesCarousel_ListView1_ctrl0_gameLogo,
#p_lt_zoneMain_pageplaceholder1_p_lt_zoneWinningNumbers_PaLotteryDrawingGamesCarousel_ListView1_ctrl1_gameLogo,
#p_lt_zoneMain_pageplaceholder1_p_lt_zoneWinningNumbers_PaLotteryDrawingGamesCarousel_ListView1_ctrl2_gameLogo,
#p_lt_zoneMain_pageplaceholder1_p_lt_zoneWinningNumbers_PaLotteryDrawingGamesCarousel_ListView1_ctrl3_gameLogo,
#p_lt_zoneMain_pageplaceholder1_p_lt_zoneWinningNumbers_PaLotteryDrawingGamesCarousel_ListView1_ctrl4_gameLogo {
  width: 207px;
  height: 64px;
}

#p_lt_zoneMain_pageplaceholder1_p_lt_zoneWinningNumbers_PaLotteryDrawingGamesCarousel_ListView1_ctrl6_gameLogo {
  max-height: 64px;
  width: auto;
}

.img-respond {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.lottery-carousel .frame>ul>li:nth-child(1),
.lottery-carousel .frame>ul>li:nth-child(2),
.lottery-carousel .frame>ul>li:nth-child(3),
.lottery-carousel .frame>ul>li:nth-child(4) {
  width: 216px;
}

.lottery-carousel .frame>ul>li:nth-child(1) .circle-list li,
.lottery-carousel .frame>ul>li:nth-child(2) .circle-list li,
.lottery-carousel .frame>ul>li:nth-child(3) .circle-list li,
.lottery-carousel .frame>ul>li:nth-child(4) .circle-list li {
  margin: 0 0 0 2px;
}

@media only screen and (max-width: 767px) {
  .lottery-carousel .frame>ul>li:nth-child(1),
  .lottery-carousel .frame>ul>li:nth-child(2),
  .lottery-carousel .frame>ul>li:nth-child(3),
  .lottery-carousel .frame>ul>li:nth-child(4) {
    width: 100%;
  }
}

.event_content.embed_view .event_section_left .event_states {
  display: none;
}
