    #smartbanner {
        display: block;
        position: relative;
        background-color: #333;
        overflow: hidden;
        padding: 0;
        max-width: 100%;
        min-width: 444px;
    }
    #sb-logo-contain {
        display: inline-block;
        margin-right: 8px;
        width: 80px;
        background-color: #fff;
        border-radius: 30px;
        padding: 2%;
        text-align: center;
    }
    #sb-logo-contain img {
        vertical-align: middle;
        width: 90%;
    }
    #sb-description {
        color: #000;
        display: inline-block;
        font-size: 18px;
        line-height: 20px;
        margin-right: 0;
    }
    #sb-description strong {
        display: block;
    }
    #sb-tryit img {
        display: block;
        margin-right: 5px;
        margin-top: 25px;
        width: 100px;
    }
    #mia_btn-coupons {
        display: block;
        position: absolute;
        top: 17vw;
        right: 26vw;
        background: transparent linear-gradient(to bottom, #E11F26 0px, #E01F26 36%, #D21F25 53%, #AE1E23 85%, #A31E22 100%) repeat scroll 0% 0%;
        padding: 12px;
        border-radius: 3px;
        box-shadow: 0 1px 2px #3b3b3b;
        color: #fff;
        text-decoration: none;
        font-weight: 800;
    }
    #mia_btn-coupons.btn-custom {
        background: #25161f;
        box-shadow: 0 1px 2px #9e2c00;
        text-align: center;
    }
    .closeBtn {
        display: inline-block;
        border: 0;
        max-width: 28px;
        height: auto;
        vertical-align: bottom;
        margin-left: 10px;
    }
    .icon_chev-r-w {
        display: inline-block;
        width: 7%;
        max-width: 22px;
        height: auto;
        vertical-align: middle;
        margin-top: 4px;
    }
    @media only screen and (max-width: 767px) {
        .closeBtn {
            position: absolute;
            top: 0;
            right: 0;
            margin: 20px;
        }
    }
    @media screen and (max-width: 412px) {
        #mia_btn-coupons {
            top: 22vw;
            right: 38vw;
        }
        .icon_chev-r-w {
            margin-top: 3px;
        }
    }
    @media screen and (max-width: 390px) {
        #mia_btn-coupons {
            top: 19vw;
            right: 30vw;
        }
    }
    @media screen and (max-width: 365px) {
        #mia_btn-coupons {
            top: 21vw;
            right: 36vw;
        }
    }

