.bigGreen {
  color: #068b54;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px !important;
}

a.list.CMSListMenuLink:active {
  background: #e9eaea;
  font-weight: bold;
  text-decoration: none;
}

.medGray {
  color: #4d4d4d;
  font-size: 18px;
  line-height: 20px !important;
  font-weight: 300;
  margin-top: -20px !important;
}

#stacked {
  text-align: center;
  display: none;
}

@media only screen and (max-width:767px),
screen and (device-width: 320px) {
  #stacked {
    display: block;
  }

  #rows {
    display: none;
  }
}
