// Tom R. discovered some discrepancies in the CSS when upgrading to Kentico 11.
// Found this file in the `uploadedfiles` directory and moved it to the `temp`
// directory to be properly integrated. Looks like this was a Michael project.

.tabs-container .winning-numbers-history {
  background-color: $dark-green;
  padding: 0;
}

.wnh-option-column {
  min-height:198px;
  padding: 50px 0 0;
  position:relative;
  vertical-align:top;
  text-align:center;
  width:50%;

  &:first-child:after {
    content:'';
    width:1px;
    height:170px;
    background:#0c5e3c;
    position:absolute;
    right:-1px;
    top:50px;
  }

  &:hover, &:active {
    background-color: $medium-green;
  }

  &.mobile-active {
    background-color: #fff;
    text-align: left;
    width: 100%;
    margin-top: 100px;
  }
}

.wnh-option-column.mobile-active h5 {
  display:none;
}

.wnh-option-column.mobile-active p {
  color:#333;
  margin: 0;
  width: 100%;
}

.wnh-option-column .wnh-option-column-content {
  margin: 0 auto;
  padding: 0 10px;
}

.wnh-option-column h3 {
  color:#fff;
  font-size: 20px;
  margin: 0 auto 6px;
  width:80%;
}

.wnh-option-column p {
  color:#fff;
  font-size: 16px;
  line-height: normal;
  margin: 0 auto 6px;
  width:80%;
}

.marketing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 3%;
}

.marketing img {
    max-width: 100%;
}

.marketing.active {
    border-bottom: 18px solid #067748;
    border-left: 18px solid #067748;
    border-right: 18px solid #067748;
}

#winning-numbers-history .select-area {
    display:inline-block;
    margin-bottom: 10px;
    vertical-align:top;
	position: relative;
}

#winning-numbers-history .select-area .center {
    font: italic 14px/16px Helvetica,Arial,sans-serif;
}

    .search-pwn select {
        margin-bottom: 10px;
    }

    @media screen and (min-width: 1019px){
	.search-pwn select {
		width: 100%;
		height: 45px;
	}
	}

  .search-pwn-game {
    border-bottom: 18px solid #02683e;
    border-left: 18px solid #02683e;
    border-right: 18px solid #02683e;
    display:none;
    overflow: hidden;
    text-align:center;
}

.search-pwn-game.active {
    border-bottom: 18px solid #067748;
    border-left: 18px solid #067748;
    border-right: 18px solid #067748;
}

.search-hmnew-game {
    background:#f8f5f5;
    border-bottom: 18px solid #02683e;
    border-left: 18px solid #02683e;
    border-right: 18px solid #02683e;
    color:#666666;
    display:none;
    text-align:center;
}

    .search-hmnew-game p {
        color:#666666;
    }

.search-hmnew-game.active {
    border-bottom: 18px solid #067748;
    border-left: 18px solid #067748;
    border-right: 18px solid #067748;
}

#hmnew_entries {
    width: 52%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
	position:relative;
}

#page-content #hmnew_entries {
    width: 70%;
}

.search-hmnew-game h3 {
    color:#666666;
    font-size: 13px;
}

.search-hmnew-game h5 {
    color:#666666;
    font-size: 15px;
    margin: 4px 0 6px;
}

.search-hmnew-game #results-count {
    margin-top: 14px;
    margin-bottom: 4px;
    width: 40%;
}

.wnh-button-mobile-show {
    display:none;
}

.wnh-mobile-search {
    display:none;
}

.bottom-area .pagination a.paginate_button.current {
    font-weight:bold;
}

@media only screen and (max-width:767px) {
    #winning-numbers-history {
        font-size: 16px;
    }

    .wnh-option-columns {
        width: 98%;
        margin: 0 auto;
    }

    .wnh-option-column.mobile-active {
        padding: 0;
    }

    .wnh-search  {
        display:none;
    }

    .wnh-option-column.mobile-active .wnh-search {
        top: 75px;
    }

    .wnh-button-mobile-show {
        display:block;
        position:absolute;
        top: 200px;
        width: 92%;
    }

    .wnh-mobile-search ul {
        list-style: outside none none;
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: left;
        left: 0;
        top: 64px;
    }

    .wnh-mobile-search .wnh-mobile-search-tabs li {
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
        font-weight: bold;
        font-size: 14px;
        background:#b1b1b1;
        margin-top:7px;
        padding: 5px 30px 10px 10px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }


    #page-content .wnh-mobile-search .wnh-mobile-search-tabs li {
        margin-top:4px;
    }

    .wnh-mobile-search .wnh-mobile-search-tabs .mobile-active {
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
        padding: 14px 30px 22px 10px;
        margin-top: -3px;
    }

    .wnh-mobile-search .wnh-mobile-search-tabs li a {
        color: #333;
    }

    .wnh-mobile-search .wnh-mobile-search-tabs li a:hover {
        text-decoration:none;
    }

    .wnh-option-column.mobile-active p {
        padding-left: 0;
        padding-bottom:10px;
        width: 90%;
    }

    .wnh-option-column.mobile-active .wnh-search {
        top:90px;
    }

    #hmnew_entries {
		margin: 0 0 0 2px;
		padding: 20px 10px;
        width: 96%;
    }

   #page-content #hmnew_entries {
		margin: 0 0 0 2px;
        width: 96%;
        padding: 20px 10px;
    }

    .games-info .table-1 th, .games-info .table-1 td {
        padding-left: 12px;
    }

    .ellipsis {
        display:none;
    }

   #page-content .wnh-option-column h3 {
        padding-left: 0;
    }

    #page-content .wnh-option-column p {
        padding-left: 0;
    }
}

.search-results {
    border-top: 1px solid #f3f0f0;
    display:none;
    text-align:left;
    margin: 0 20px;
    padding: 12px 0;
}

.search-pwn-game .search-results {
    border-top:none;
    margin:0;
    padding:0;
}

.search-pwn-game .bottom-area {
    background:#fff;
    padding: 11px 1px 16px;
}

.page-indicator {
    display:none;
}

.errormessagepwn {
    display:none;
    background-color: #fff;
    border: 1px solid red;
    color: red;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 3px;
    margin: 5px auto 0 auto;
    width:80%;
}

#hmnew_entries input[type=number] {
    color:#333;
    font-size:26px;
    font-style:normal;
    font-weight:bold;
    padding: 6px;
    text-align:center;
    display:inline-block;
    margin-bottom:15px;
    margin-right: 5px;
}

#hmnew_entries input[type=tel] {
    color:#333;
    font-size:26px;
    font-style:normal;
    font-weight:bold;
    padding: 6px;
    text-align:center;
    display:inline-block;
    margin-bottom:15px;
    margin-right: 5px;
}

@media only screen and (max-width:767px) {
    .page-indicator {
        display:block;
        position:absolute;
        left: 42%;
        bottom: 58px;
    }

    .search-pwn-game .bottom-area {
        padding: 11px 1px 36px;
    }

    #results-count {
	text-align: left;
    width:90%;
        margin-left: 10px;
    }

    #arrowtext, #arrowtext2 {
        width:90%;
        margin-left: 10px;
    }

    .search-results {
        margin:0;
    }

    .search-hmnew-game #results-count {
        width: 98%;
       margin-bottom: 15px;
    }
}
