#bkbox {
  width: 100%;
}

#mobile_map {
  width: 90%;
  display: block;
  margin: 0 auto 28px;

  @media (min-width: 1020px) {
    display: none;
  }
}

#leftcontainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  @media (min-width: 768px) {
    width: 50%;
    float: left;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
  }
}

#prizebox {
  margin-left: 80px;
  margin-top: -62px;
  border-bottom: 0;
  padding-left: 0;
  display: none;

  @media (min-width: 768px) and (max-width: 1019px) {
    margin-left: 30px;
    margin-top: -24px;
  }
}

#lefty {
  height: 35px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    padding-top: 10px;
    width: 90px;
  }
}

#lefty2 {
  width: 200px;
  height: 35px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rightcontainer {
  display: none;
  width: 50%;
  height: 75px;
  margin-left: 50%;

  @media (max-width: 767px) {
    border-top: 1px solid #333;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 26px;
    margin-top: 26px;
  }
}

#page-content #wintotal {
  color: #4d4d4d;
  font-weight: normal;
  line-height: 1;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1019px) {
    width: 200px;
  }

  @media (min-width: 1020px) {
    text-align: right;
  }

  span {
    display: block;
    font-size: 50%;
  }
}

#amt-prize {
  padding-left: 130px;
  margin-top: -5px;
  font-size: 18px;
  font-weight: bold;
  padding-top: 7px;
  padding-left: 97px;
  line-height: 2;
}

#WinTotName {
  padding-right: 322px;

  @media (min-width: 768px) {
    padding-right: 128px;
  }

  @media (min-width: 1020px) {
    padding-right: 176px;
  }
}

#page-content {
  width: 90%;

  @media (min-width: 768px) {
    width: 75%;
  }

  @media (min-width: 1020px) {
    width: auto;
  }

  h3 {
    margin-bottom: 22px;
  }
}

@media (max-width: 1019px) {
  .info-container .info-section {
    overflow: visible;
  }
}

@media (max-width: 767px) {
  .winners-columns {
    display: none;
  }

  #leftcage {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #rightcage {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #winners_content {
    display: block;
  }
}
