<!-- HBS will not work with an 'a' tag containing everything, it will not put the siblings in the main container. I left the href just to show it should be an a tag, but haven't had the opportunity to investigate this matter -->

<div href="#" class="activeGame_li row align-center between flex {{modifier_class}}">
    <div class="new-tag">
        NEW
    </div>
    <div class="info">
        <p><a href="https://staging.v8.palottery.state.pa.us/Scratch-Offs/View-Scratch-Off.aspx?id=2907">Million Dollar Winner</a></p>
        <div class="image">
            <div class="second-chance">
                <img src="/PaLotteryWebSite/media/Page-Images/scratch-off/logo_secondChance.png" alt="Second Chance Icon for the pa lottery" title="Second Chance Icon" />
                <div class="hover-tooltip">
                    <span>Second Chance</span>
                </div>
            </div>
            <div class="closing-soon">
                <img src="/PaLotteryWebSite/media/Page-Images/scratch-off/icon_closingSoon.png" alt="Closing Soon Icon for the pa lottery" title="Sales Ending Soon Icon"/>
                <div class="hover-tooltip">
                    <span>Sales Ending Soon <span class='red text'>11/27/2017</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="price">
        <p>$5<i class="fas fa-angle-right">&nbsp;</i></p>
    </div>
</div>