<table class="chart">
  <thead>
    <tr>
      <th>Outcome</th>
      <th>Minimum Prize</th>
      <th>Maximum Prize</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>TD Run on 1st Play</td>
      <td>$50</td>
      <td>$200</td>
    </tr>
    <tr>
      <td>TD Run on 2nd Play</td>
      <td>$6</td>
      <td>$75</td>
    </tr>
    <tr>
      <td>TD Run on 3rd Play</td>
      <td>$5</td>
      <td>$40</td>
    </tr>
    <tr>
      <td>TD Run on 4th Play</td>
      <td>$2</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>TD Run on or after 5th Play</td>
      <td>$2</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>TD Pass on 1st Play</td>
      <td>$60</td>
      <td>$200</td>
    </tr>
    <tr>
      <td>TD Pass on 2nd Play</td>
      <td>$8</td>
      <td>$70</td>
    </tr>
    <tr>
      <td>TD Pass on 3rd Play</td>
      <td>$5</td>
      <td>$25</td>
    </tr>
    <tr>
      <td>TD Pass on 4th Play</td>
      <td>$2</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>TD Pass on or after 5th Play</td>
      <td>$2</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>Turnover on 1st Play</td>
      <td>$90</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Turnover on 2nd Play</td>
      <td>$30</td>
      <td>$175</td>
    </tr>
    <tr>
      <td>Turnover on 3rd Play</td>
      <td>$15</td>
      <td>$100</td>
    </tr>
    <tr>
      <td>Turnover on 4th Play</td>
      <td>$12</td>
      <td>$80</td>
    </tr>
    <tr>
      <td>Turnover on or after 5th Play</td>
      <td>$2</td>
      <td>$40</td>
    </tr>
    <tr>
      <td>Field Goal</td>
      <td>$6</td>
      <td>$15</td>
    </tr>
  </tbody>
</table>
