<div class='ag-filter flex between'>
    <h2>Active Games</h2>
    <div class='filter-icon'>
            <select data-jcf="{'wrapNative': false, 'wrapNativeOnMobile': false, 'fakeDropInBody': false, 'useCustomScroll': false}" class="jcf-hidden">
            <option class='hideme' Value='all'>Filter by price</option>
            <option Value='1'>$1 Scratch-Offs</option>
            <option Value='2'>$2 Scratch-Offs</option>
            <option Value='3'>$3 Scratch-Offs</option>
            <option Value='5'>$5 Scratch-Offs</option>
            <option Value='10'>$10 Scratch-Offs</option>
            <option Value='20'>$20 Scratch-Offs</option>
            <option Value='30'>$30 Scratch-Offs</option>
            <option Value='all'>Show All</option>
        </select>
    </div>     
</div>