<header id="header" class="page-header">
  <div class="top-area">
    <div id="page-info" style="display:none;"><span id="page-document-id">9666</span><span id="page-document-alias">/Xpress/Football/Daily-Lineup</span></div>

    <div class="top-bar flex between">
      <a class="new-gov" href="http://www.governor.state.pa.us/" target="_blank">Tom Wolf, Governor</a>
      <nav class="nav-vip">
        <a href="https://www-ppte34.nyxop.net/login/pta/?PtaUrl=https://dev.v8.palottery.state.pa.us/Misc/PAT-Sync-Test.aspx&amp;Redirect=https://dev.v8.palottery.state.pa.us/VIP-Players-Club/Dashboard.aspx"
          class="btn btn-vip" id="btn-vip-login">VIP Login</a>
        <a href="https://www-ppte34.nyxop.net/signup/" class="btn">Sign Up</a>
        <a href="https://www-ppte34.nyxop.net/" class="btn btn-inverse btn-ilottery"><span class="accessible-text">iLottery</span>
          Play Now!</a>
      </nav>
    </div>



  </div>
  <div class="logo-area">
    <h2 class="logo"><a title="Pennsylvania Lottery - Benefits Older Pennsylvanians. Every Day." href="/">Pennsylvania Lottery
        - Benefits Older Pennsylvanians. Every Day.</a></h2>
    <strong class="print-logo"><img class="notextonlycontent" src="/App_Themes/PALotteryAll/images/logo-print.jpg" alt="Pennsylvania Lottery Benefits Older Pennsylvanians. Every Day."
        width="151" height="157"></strong>
  </div>
  <div class="logo-area-mobile">

    <div id="sticky-anchor">&nbsp;</div>
    <nav class="nav-mobile flex between" id="sticky">
      <a class="lnk-ilottery" href="https://www.pailottery.com">Play Now</a>
      <a href="#" class="nav-mobile-link">Games <i class="fa fa-angle-down"></i></a>
      <div class="subnav-mobile" style="display: none;">
        <ul class="subnav-mobile-level-1">
          <li>
            <a href="#" class="subnav-mobile-link">Draw Games <i class="fa fa-angle-down"></i></a>
            <ul class="subnav-mobile-level-2">
              <li><a href="/Draw-Games.aspx">Draw Games</a></li>
              <li><a href="/Draw-Games/Winning-Numbers-History.aspx">Winning Numbers History</a></li>
              <!-- <li><a href="/Draw-Games/Watch-Drawings.aspx">Watch Drawings</a></li> -->
            </ul>
          </li>
          <li>
            <a href="#" class="subnav-mobile-link">Scratch-Offs <i class="fa fa-angle-down"></i></a>
            <ul class="subnav-mobile-level-2">
              <li><a href="/Games/Instant-Games.aspx">New Games</a></li>
              <li><a href="/Scratch-Offs/Scratch-Offs-Tabs.aspx?g=ag#active-games">Active Games</a></li>
              <li><a href="/Scratch-Offs/Scratch-Offs-Tabs.aspx?g=pr#remaining-prizes">Prizes Remaining</a></li>
              <li><a href="/Scratch-Offs/Scratch-Offs-Tabs.aspx?g=se#sales-ended">Sales Ended Games</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="subnav-mobile-link">Fast Play <i class="fa fa-angle-down"></i></a>
            <ul class="subnav-mobile-level-2">
              <li><a href="/Fast-Play/Active-Games.aspx">Active Games</a></li>
              <li><a href="/Fast-Play/Prizes-Remaining.aspx">Prizes Remaining</a></li>
              <li><a href="/Fast-Play/Sales-Ended-Games.aspx">Sales Ended Games</a></li>
              <li><a href="/Fast-Play/How-To-Play-Fast-Play.aspx">How to Play</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="subnav-mobile-link">Keno<i class="fa fa-angle-down"></i></a>
            <ul class="subnav-mobile-level-2">
              <li><a href="/Keno">Keno</a></li>
              <li><a href="/Keno/Past-Results.aspx">Past Results</a></li>
              <li><a href="/keno.aspx#howtoplay">How To Play</a></li>
              <li><a href="/Keno/Prizes-Chances.aspx">Prizes &amp; Chances</a></li>
              <li><a href="/About-PA-Lottery/Retailers.aspx">Where To Watch</a></li>
              <li><a href="/Keno/FAQ.aspx">FAQ</a></li>
              <!-- <li><a href="/About-PA-Lottery/How-To-Claim-Your-Prize.aspx">How To Claim Your Prize</a></li> -->
            </ul>
          </li>
          <li>
            <a href="#" class="subnav-mobile-link">Xpress Sports<i class="fa fa-angle-down"></i></a>
            <ul class="subnav-mobile-level-2">
              <li><a href="/xpress">About Xpress Sports</a></li>
              <li><a href="/Xpress/Football.aspx">Xpress Football</a></li>
              <li><a href="/Xpress/Car-Racing.aspx">Xpress Car Racing</a></li>
            </ul>
          </li>
          <li><a href="/VIP-Players-Club/Public/Second-Chance-Prize-Zone.aspx">Second-Chance™</a></li>
          <li><a href="/About-PA-Lottery/How-to-Claim-Your-Prize.aspx">How to Claim Your Prize</a></li>
        </ul>
      </div>
      <a href="#" class="nav-mobile-link" id="lnk-mobile-more">More <i class="fa fa-angle-down"></i></a>
      <div class="subnav-mobile" id="subnav-more-mobile" style="display: none;">
        <ul class="subnav-mobile-level-1">
          <li><a href="/VIP-Players-Club/Login.aspx">VIP Players Club</a></li>
          <li><a href="/Winners/Winners.aspx">Winners</a></li>
          <li><a href="/Benefits-Info/Benefits-Info.aspx">Benefits</a></li>
          <li><a href="/About-PA-Lottery.aspx">About Us &amp; News</a></li>
          <li><a href="/About-PA-Lottery/Retailers.aspx">Where to Buy</a></li>
          <li><a href="/About-PA-Lottery/Contact-Us.aspx">Contact</a></li>
          <li><a href="/About-PA-Lottery/For-Retailers.aspx">For Retailers</a></li>
        </ul>
        <div class="search-form">
          <div id="p_lt_ctl00_MobileSearch_pnlSearch" class="searchBox" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'p_lt_ctl00_MobileSearch_btnSearch')">

            <label for="p_lt_ctl00_MobileSearch_txtWord" id="p_lt_ctl00_MobileSearch_lblSearch" class="accessible-text">Search
              for:
            </label>
            <input name="p$lt$ctl00$MobileSearch$txtWord" type="text" maxlength="1000" id="p_lt_ctl00_MobileSearch_txtWord" class="form-control"
              placeholder="Search">
            <input type="submit" name="p$lt$ctl00$MobileSearch$btnSearch" value="Search" id="p_lt_ctl00_MobileSearch_btnSearch" class="btn btn-default">

            <div id="p_lt_ctl00_MobileSearch_pnlPredictiveResultsHolder" class="predictiveSearchHolder">

            </div>

          </div>
        </div>
      </div>
    </nav>

  </div>
  <nav id="nav" class="nav-primary flex row around" style="height: auto;">


    <a href="/"><i class="fa fa-home home-icon"><span class="accessible-text">Home</span> </i></a>
    <a class="lnk-ilottery" href="https://www-s34.nyxop.net/">Play Now</a>
    <a class="nav-primary-link" href="/Draw-Games.aspx">Draw Games</a>
    <a class="nav-primary-link" href="/Scratch-Offs.aspx">Scratch-Offs</a>
    <a class="nav-primary-link" href="/Fast-Play/Active-Games.aspx">Fast Play</a>
    <a class="nav-primary-link" href="/keno">Keno</a>
    <div class="nav-primary-link has-subnav" id="nav-primary-xpress">Xpress Sports <i class="fa fa-angle-down">&nbsp;</i>
      <div class="nav-primary-more">
        <a href="/xpress">About Xpress Sports</a>
        <a href="/Xpress/Football.aspx">Xpress Football</a>
        <a href="/Xpress/Car-Racing.aspx">Xpress Car Racing</a>
      </div>
    </div>

    <div class="nav-primary-link has-subnav" id="nav-primary-more"> More <i class="fa fa-angle-down">&nbsp;</i>
      <div class="nav-primary-more">
        <a href="/VIP-Players-Club/Login.aspx">VIP Players Club</a>
        <a href="/Winners/Winners.aspx">Winners</a>
        <a href="/Benefits-Info/Benefits-Info.aspx">Benefits</a>
        <a href="/About-PA-Lottery.aspx">About Us &amp; News</a>
        <a href="/About-PA-Lottery/Retailers.aspx">Where to Buy</a>
        <a href="/About-PA-Lottery/Contact-Us.aspx">Contact</a>
        <a href="/About-PA-Lottery/For-Retailers.aspx">For Retailers</a>
      </div>
    </div>
    <a href="#"><i class="fa fa-search search-icon"><span class="accessible-text">Search</span></i></a><div class="search-form"
      style="display: none;">
      <fieldset>
        <legend class="hidden">search-form"</legend> <label class="hidden" for="search">search</label> <div id="p_lt_zoneMenu_SearchBox1_pnlSearch"
          class="searchBox" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'p_lt_zoneMenu_SearchBox1_btnSearch')">

          <label for="p_lt_zoneMenu_SearchBox1_txtWord" id="p_lt_zoneMenu_SearchBox1_lblSearch" style="display:none;">Search
            for:
          </label>
          <input name="p$lt$zoneMenu$SearchBox1$txtWord" type="text" maxlength="1000" id="p_lt_zoneMenu_SearchBox1_txtWord" class="form-control"
            placeholder="Search">
          <input type="submit" name="p$lt$zoneMenu$SearchBox1$btnSearch" value="Search" id="p_lt_zoneMenu_SearchBox1_btnSearch" class="btn btn-default">

          <div id="p_lt_zoneMenu_SearchBox1_pnlPredictiveResultsHolder" class="predictiveSearchHolder">

          </div>

        </div>
        <a class="searchlink tablet-only" href="/Search">Search</a></fieldset>
    </div>
  </nav>
</header>
