<div class="flex row" id="onsert">
    <div class="flex onsert {{modifier_class}}">
        <div class="onsert-image">
            <a href="#">
                <img src="https://via.placeholder.com/223x213" alt="" title="" />
            </a>
        </div>
        <div class="onsert-text inline-flex around">
            <h3><a href="#">Top Prizes of $100,0000</a></h3>
            <p><a href="#">Game Description <i class="fas fa-angle-right">&nbsp;</i></a></p>
            <p class="second-chance">
                <span class="second-chance-image">&nbsp;</span>
                <span class="second-chance-text"><a href="#">Second Chance Eligible <i class="fas fa-angle-right">&nbsp;</i></a></span>
            </p>
        </div>
    </div>
</div>