<nav class="pagination-container flex">
    <div class="table-pagination inline-flex">
        <div class="page-arrows">
            <a href="#"><i class="fas fa-angle-double-left">&nbsp;</i></a>
        </div>
        <div class="page-numbers">
            <a href="#"><i class="fas fa-angle-left">&nbsp;</i></a>
            
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            
            <a href="#"><i class="fas fa-angle-right">&nbsp;</i></a>
        </div>
        <div class="page-arrows">
            <a href="#"><i class="fas fa-angle-double-right">&nbsp;</i></a>
        </div>
    </div>
</nav>

<!-- This is a second version of pagination that gets used by scratch off tables -->

<nav class="pagination-container flex">
    <div class="table-pagination inline-flex dataTables_paginate paging_full_numbers" id="sales-ended_paginate">
        <a class="paginate_button first disabled" aria-controls="sales-ended" data-dt-idx="0" tabindex="0" id="sales-ended_first">«</a>
        <a class="paginate_button previous disabled" aria-controls="sales-ended" data-dt-idx="1" tabindex="0" id="sales-ended_previous">‹</a>
        <span>
            <a class="paginate_button current" aria-controls="sales-ended" data-dt-idx="2" tabindex="0">1</a>
            <a class="paginate_button " aria-controls="sales-ended" data-dt-idx="3" tabindex="0">2</a>
            <a class="paginate_button " aria-controls="sales-ended" data-dt-idx="4" tabindex="0">3</a>
            <a class="paginate_button " aria-controls="sales-ended" data-dt-idx="5" tabindex="0">4</a>
        </span>
        <a class="paginate_button next" aria-controls="sales-ended" data-dt-idx="8" tabindex="0" id="sales-ended_next">›</a>
        <a class="paginate_button last" aria-controls="sales-ended" data-dt-idx="9" tabindex="0" id="sales-ended_last">»</a>
    </div>
</nav>