<table class="table-global">
    <thead>
        <tr>
            <th class="sorting asc dec">
                <span class='title'>Game #</span>
                <span class="sorting-arrows"><i class="fas fa-caret-up">&nbsp;</i><i class="fas fa-caret-down">&nbsp;</i></span>
            </th>
            <th class="sorting asc dec">
                <span class='title'>Game Name</span>
                <span class="sorting-arrows"><i class="fas fa-caret-up">&nbsp;</i><i class="fas fa-caret-down">&nbsp;</i></span>
            </th>
            <th class="sorting dec">
                <span class='title'>On Sale</span>
                <span class="sorting-arrows"><i class="fas fa-caret-up">&nbsp;</i><i class="fas fa-caret-down">&nbsp;</i></span>
            </th>
            <th class="sorting asc">
                <span class='title'>Price</span>
                <span class="sorting-arrows"><i class="fas fa-caret-up">&nbsp;</i><i class="fas fa-caret-down">&nbsp;</i></span>
                </th>
            <th>
                <span class='title'>End Sale</span>
                <span class="sorting-arrows"><i class="fas fa-caret-up">&nbsp;</i><i class="fas fa-caret-down">&nbsp;</i></span>
            </th>
            <th>
                <span class='title'>Last Date to Claim Prize</span> 
                <span class="sorting-arrows"><i class="fas fa-caret-up">&nbsp;</i><i class="fas fa-caret-down">&nbsp;</i></span>
            </th>
        </tr>
    </thead>
    <tbody>	
        <tr>
            <td class="new">
                <div class="new-tag">NEW</div>
                <span class="new-game">1366</span>
            </td>
            <td><a href="#">7-11-21®</a></td>
            <td>9/11/2018</td>
            <td>$1</td>
            <td>03/19/2014</td>
            <td>10/19/2015</td>
        </tr>
        <tr>
            <td class="new">
                <div class="new-tag">NEW</div>
                <span class="new-game">1366</span>
            </td>
            <td><a href="#">Spooky Cash</a></td>
            <td>9/11/2018 <br />9/11/2018 <br />9/11/2018 <br />9/11/2018 <br />9/11/2018 <br />9/11/2018 <br />9/11/2018</td>
            <td>$2</td>
            <td>03/19/2014</td>
            <td>10/19/2015</td>
        </tr>
        <tr>
            <td class="new">
                <div class="new-tag">NEW</div>
                <span class="new-game">1365</span>
            </td>
            <td><a href="#">Spooky Cash</a></td>
            <td>9/11/2018</td>
            <td>$2</td>
            <td>03/19/2014</td>
            <td>10/19/2015</td>
        </tr>
        <tr>
            <td class="">
                <div class="new-tag">NEW</div>
                <span class="new-game">1365</span>
            </td>
            <td><a href="#">Spooky Cash</a></td>
            <td>9/11/2018</td>
            <td>$2</td>
            <td>03/19/2014</td>
            <td>10/19/2015</td>
        </tr>
        <tr>
            <td class="">
                <div class="new-tag">NEW</div>
                <span class="new-game">1365</span>
            </td>
            <td><a href="#">Spooky Cash</a></td>
            <td>9/11/2018</td>
            <td>$2</td>
            <td>03/19/2014</td>
            <td>10/19/2015</td>
        </tr>
        <tr>
            <td class="new">
                <div class="new-tag">NEW</div>
                <span class="new-game">1361</span>
            </td>
            <td><a href="#">Win Win Win</a></td>
            <td>9/11/2018</td>
            <td>$10</td>
            <td>03/19/2014</td>
            <td>10/19/2015</td>
        </tr>
    </tbody>
</table>