@import 'helpers/colors';

@import 'modules/drawing-box';
@import 'modules/results-holder';
@import 'modules/buttons';
@import 'modules/forms';

input[type=number] {
  border-radius: 0.3125rem;
  border: 1px solid #ccc;
  background: #fff;
  font-style: italic;
  font-size: 18px;
  line-height: 1.1;
  padding: 9px 11px 13px;
}

.video-container iframe {
  border: none;
  width: 100%;
  height: 503px;

  @media (min-width: 768px) {
    height: 560px;
  }

  @media (min-width: 940px) {
    height: 743px;
  }

  @media (min-width: 1020px) {
    height: 726px;
  }
}

.inline-drawing {
  iframe {
    border: none;
    width: 1px;
    min-width: 100%; // iOS
    // width: 100%;
    height: 325px;
    display: block;
    margin: 0 auto;
  }
}

.lnk-close {
  display: block;
  text-align: right;
  padding: 0 0.5rem;
}

// For app
.inset-content {
  .flex {
    display: flex;
  }

  .row {
    flex-flow: row wrap;
  }

  .around {
    justify-content: space-around;
  }

  .drawing-value {
    width: 2rem;
  }
}
